Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

feat: update SonarQube analysis exclusions for migration files in backend services; enhance changelog for clarity
  CHANGELOG.md
  CLAUDE.md
  backend/expenses/SonarQube.Analysis.xml
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline, backend-expenses-pipeline

feat: rename authenticated route from /home to /dashboard; update navigation links and tests accordingly
  CHANGELOG.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/components/NavBar.tsx
  frontend/dashboard/src/components/PublicOnlyRoute.tsx
  frontend/dashboard/src/components/__tests__/NavBar.test.tsx
  frontend/dashboard/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/dashboard/src/components/__tests__/PublicOnlyRoute.test.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: fix sca by updating picomatch and vite versions
  frontend/dashboard/package-lock.json
Due: frontend-dashboard-pipeline

feat: add migration to fix reset password URL and update email validation redirect encoding
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260412165435_FixResetPasswordUrl.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260412165435_FixResetPasswordUrl.cs
Due: backend-users-pipeline

fix: update FixResetPasswordUrl migration to set APP_ResetPasswordUrlPath to host-agnostic relative path
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users/Migrations/20260412165435_FixResetPasswordUrl.cs
Due: backend-users-pipeline

fix: update ApplicationService to include ResetPasswordUrlPath in entity mapping; enhance changelog for clarity
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users/Services/ApplicationService.cs
Due: backend-users-pipeline

fix: wrap reset password routes in PublicOnlyRoute to prevent access by authenticated users; update success message and redirect behavior
  CHANGELOG.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: update success message for password reset to include redirect notice
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
Due: frontend-dashboard-pipeline

feat: add NotFound page for unmatched routes and update routing to use it
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/pages/NotFound.tsx
  frontend/dashboard/src/pages/__tests__/NotFound.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: update FILE-TREE.md to reflect changes in migration and routing components
  FILE-TREE.md
Due: none

fix: update registration success message and remove auto-redirect; enhance user guidance
  CHANGELOG.md
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: enhance reset password functionality to support account creation; update UI and messages accordingly
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
Due: backend-users-pipeline, frontend-dashboard-pipeline

fix: refactor message handling in reset password function for clarity
  frontend/dashboard/src/pages/ResetPassword.tsx
Due: frontend-dashboard-pipeline

fix: update vulnerability severity level in Docker security scanning script
  infrastructure/configs/gitlab-ci-templates/ci-docker-security.yml
Due: none

fix: remove redundant "Logout" button from dashboard; streamline logout process to navbar only
  CHANGELOG.md
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/__tests__/HomeDashboard.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: add Settings page with Password management; update navigation and links accordingly
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/components/NavBar.tsx
  frontend/dashboard/src/components/__tests__/NavBar.test.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/Settings.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/Settings.test.tsx
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: add "Back to login" link on Request Password Reset page for improved navigation
  CHANGELOG.md
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/__tests__/RequestPasswordReset.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: add PasswordStrength component for live password validation; implement minimum length check on Change and Reset Password pages
  CHANGELOG.md
  frontend/dashboard/src/components/PasswordStrength.tsx
  frontend/dashboard/src/components/__tests__/PasswordStrength.test.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: update regex for number validation in PasswordStrength component
  frontend/dashboard/src/components/PasswordStrength.tsx
Due: frontend-dashboard-pipeline

fix: update mobile Settings link to point to /settings, correcting regression from QA
  CHANGELOG.md
  frontend/dashboard/src/components/NavBar.tsx
  frontend/dashboard/src/components/__tests__/NavBar.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: add test for vertical centering in HomePublic component; update QA report to reflect fix
  CHANGELOG.md
  frontend/dashboard/src/pages/__tests__/HomePublic.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: update password field placeholders to use empty string for consistent styling across browsers
  CHANGELOG.md
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: add PasswordInput component for reusable password fields with show/hide toggle; update Login, ChangePassword, and ResetPassword pages to use this component
  CHANGELOG.md
  frontend/dashboard/src/components/PasswordInput.tsx
  frontend/dashboard/src/components/__tests__/PasswordInput.test.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: mark component props as Readonly<> in AuthProvider, ToastProvider, and PasswordInput; refactor ToastProvider's show function to reduce nesting depth
  CHANGELOG.md
  frontend/dashboard/src/auth/AuthContext.tsx
  frontend/dashboard/src/components/PasswordInput.tsx
  frontend/dashboard/src/components/Toast.tsx
Due: frontend-dashboard-pipeline

fix: update FILE-TREE.md to reflect new components and their descriptions; reorder entries for clarity
  FILE-TREE.md
Due: none

feat: add SEO and Open Graph meta tags to index.html; update QA report to reflect changes
  CHANGELOG.md
  frontend/dashboard/index.html
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

fix: update Docker storage driver to overlay2 for improved performance; modify CI configuration for Docker image pruning
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
  infrastructure/docker-compose-tools.yml
Due: none

fix: update dependency-check cache key to use PROJECT_KEY for consistency across CI configurations
  CHANGELOG.md
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

fix: pin Microsoft.Bcl.Memory to version 9.0.14 in Users service to remediate CVE-2026-26127
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users.Tests/Touir.ExpensesManager.Users.Tests.csproj
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
Due: backend-users-pipeline

feat: update Dockerfiles to use chiseled runtime images for improved security; modify CI configurations to allow failures
  CHANGELOG.md
  backend/expenses/.gitlab-ci.yml
  backend/expenses/Dockerfile
  backend/users/.gitlab-ci.yml
  backend/users/.trivyignore
  backend/users/Dockerfile
  frontend/dashboard/.gitlab-ci.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] fix: add non-root user in Dockerfiles for improved security
  backend/expenses/Dockerfile
  backend/users/Dockerfile
Due: backend-users-pipeline, backend-expenses-pipeline

feat: enhance login and registration UX by adding loading states and disabling buttons during submission
  CHANGELOG.md
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
Due: frontend-dashboard-pipeline

[ci skip] docs: update docs
  CLAUDE.md
  FILE-TREE.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  qa/2026-03-22-frontend-dashboard-qa.md
Due: none

feat: implement per-page browser tab titles using usePageTitle hook across all page components
  CHANGELOG.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  frontend/dashboard/src/hooks/usePageTitle.ts
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/HomePublic.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/NotFound.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/Settings.tsx
Due: frontend-dashboard-pipeline

feat: dashboard front restructure
  CHANGELOG.md
  CLAUDE.md
  FILE-TREE.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  frontend/dashboard/README.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/ProtectedRoute.tsx
  frontend/dashboard/src/features/auth/PublicOnlyRoute.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/__tests__/ProtectedRoute.test.tsx
  frontend/dashboard/src/features/auth/__tests__/PublicOnlyRoute.test.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/main.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/HomeDashboard.test.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  frontend/dashboard/src/pages/__tests__/RequestPasswordReset.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
  frontend/dashboard/src/router.tsx
  frontend/dashboard/src/services/__tests__/api.test.ts
  frontend/dashboard/src/services/api.ts
  frontend/dashboard/src/styles/index.css
Due: frontend-dashboard-pipeline

feat: refactor authentication and error handling in frontend dashboard
  CHANGELOG.md
  CLAUDE.md
  FILE-TREE.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/constants/apiErrors.ts
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/services/api.ts
  frontend/dashboard/src/services/authApi.ts
  frontend/dashboard/src/types/api.ts
  frontend/dashboard/src/types/auth.ts
Due: frontend-dashboard-pipeline

refactor: remove unused type exports from AuthContext and api services
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/services/api.ts
Due: frontend-dashboard-pipeline

feat: enhance error handling by translating backend error codes to user-friendly messages
  CHANGELOG.md
  frontend/dashboard/src/constants/apiErrors.ts
  frontend/dashboard/src/services/api.ts
Due: frontend-dashboard-pipeline

fix: add NOSONAR comment to INVALID_USERNAME_OR_PASSWORD error message
  frontend/dashboard/src/constants/apiErrors.ts
Due: frontend-dashboard-pipeline

fix: suppress React Router v6 console warnings by adding future flags to BrowserRouter
  CHANGELOG.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  frontend/dashboard/src/App.tsx
Due: frontend-dashboard-pipeline
