Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

fix sonar
  frontend/dashboard/.gitlab-ci.yml
  frontend/dashboard/sonar-project.properties
Due: frontend-dashboard-pipeline

fix sca
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

update sca
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
Due: backend-users-pipeline, frontend-dashboard-pipeline

fix sca
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-runner/config.toml
Due: frontend-dashboard-pipeline

sca fix
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

fix sca severity count
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

sca fix
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

sca fix
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
Due: backend-users-pipeline, frontend-dashboard-pipeline

sca fix
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/src/__tests__/api.test.ts
Due: frontend-dashboard-pipeline

fix gitlab ci
  .gitlab-ci.yml
  infrastructure/.env.example
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/docker-compose.yml
  infrastructure/run-docker-compose.bat
  infrastructure/scripts/gitlab-register-runner.sh
Due: none

gitlab ci fixes
  .gitlab-ci.yml
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/docker-compose.yml
  infrastructure/scripts/gitlab-register-runner.sh
Due: none

fix gitlab ci
  .gitlab-ci.yml
Due: none

fix cache gitlab ci
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

expenses gitlab ci
  backend/expenses/.gitlab-ci.yml
Due: backend-expenses-pipeline

change namespace of expenses project
  backend/expenses/Dockerfile
  backend/expenses/Models/Category.cs
  backend/expenses/Models/Currency.cs
  backend/expenses/Models/Expense.cs
  backend/expenses/Models/User.cs
  backend/expenses/Program.cs
  backend/expenses/Repositories/IUserRepository.cs
  backend/expenses/Repositories/PostgresOptions.cs
  backend/expenses/Repositories/UserRepository.cs
  backend/expenses/Services/IRabbitMQService.cs
  backend/expenses/Services/RabbitMQOptions.cs
  backend/expenses/Services/RabbitMQService.cs
  backend/expenses/Touir.ExpensesManager.Expenses.csproj
  backend/expenses/Touir.ExpensesManager.Expenses.sln
Due: backend-expenses-pipeline

expenses refactoring
  backend/expenses/Dockerfile
  backend/expenses/Repositories/UserRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses.sln
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Options/PostgresOptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Options/RabbitMQOptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260217225816_InitialCreate.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260217225816_InitialCreate.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/ExpensesDbContextModelSnapshot.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Category.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Currency.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Expense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/External/User.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Properties/launchSettings.json
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/External/Contracts/IUserRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/External/UserRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IRabbitMQService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/RabbitMQService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Touir.ExpensesManager.Expenses.csproj
  backend/expenses/Touir.ExpensesManager.Expenses/appsettings.Development.json
  backend/expenses/Touir.ExpensesManager.Expenses/appsettings.json
Due: backend-expenses-pipeline

update connection string users
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/PostgresOptions.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
Due: backend-users-pipeline

fix test
  backend/expenses/.trivyignore
Due: backend-expenses-pipeline

migration implementation expenses
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/sql_database_scripts/create_user_and_privileges.sql
Due: backend-expenses-pipeline

fix docker security
  backend/expenses/.trivyignore
Due: backend-expenses-pipeline

expenses unit tests
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/External/UserRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/RabbitMQServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/TestHelpers/TestExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Touir.ExpensesManager.Expenses.Tests.csproj
  backend/expenses/Touir.ExpensesManager.Expenses.sln
Due: backend-expenses-pipeline

fixing sonar qualitygate
  backend/expenses/.gitlab-ci.yml
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/TestHelpers/TestExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/RabbitMQService.cs
Due: backend-expenses-pipeline

deploy nginx
  .gitignore
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/nginx/entrypoint.sh
  infrastructure/configs/nginx/fastcgi_params
  infrastructure/configs/nginx/mime.types
  infrastructure/configs/nginx/modules
  infrastructure/configs/nginx/nginx.conf
  infrastructure/configs/nginx/scgi_params
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
  infrastructure/configs/nginx/ssl/ssl.conf
  infrastructure/configs/nginx/uwsgi_params
  infrastructure/docker-compose.yml
Due: frontend-dashboard-pipeline

fix pipeline
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

fix deploy front
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

testing deploy job
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

fix deploy
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

deploy fix
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/docker-compose.yml
Due: frontend-dashboard-pipeline

fix deploy
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
  infrastructure/docker-compose.yml
Due: frontend-dashboard-pipeline

infra modification
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
  infrastructure/configs/nginx/ssl/ssl.conf
  infrastructure/docker-compose.yml
  infrastructure/run-docker-compose.bat
  infrastructure/start-expenses-manager-apps.bat
Due: none

update infra
  infrastructure/docker-compose.yml
Due: none

update infra
  backend/expenses/.gitlab-ci.yml
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Properties/launchSettings.json
  backend/users/.gitlab-ci.yml
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Properties/launchSettings.json
  frontend/dashboard/.env.example
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
  infrastructure/docker-compose-apps.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/run-docker-compose-apps.bat
  infrastructure/run-docker-compose-tools.bat
  infrastructure/run-docker-compose.bat
  infrastructure/start-expenses-manager-apps.bat
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

fix sonar gate
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/users/.gitlab-ci.yml
  backend/users/Touir.ExpensesManager.Users/Program.cs
  frontend/dashboard/.gitlab-ci.yml
  frontend/dashboard/sonar-project.properties
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline
