Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

feat: improve authentication handling in AuthProvider with useEffect and useCallback
  CHANGELOG.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
Due: frontend-dashboard-pipeline

feat: enhance login functionality with "Remember me" option and improve loading experience on dashboard
  CHANGELOG.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/__tests__/HomeDashboard.test.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  frontend/dashboard/src/types/auth.ts
Due: frontend-dashboard-pipeline

feat: enhance accessibility across frontend components with ARIA attributes and focus management
  CHANGELOG.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
Due: frontend-dashboard-pipeline

feat: improve mobile navigation accessibility with semantic HTML and focus management
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: update Auth context functions to return detailed AuthResult and enhance test coverage for edge cases
  CHANGELOG.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  frontend/dashboard/src/pages/__tests__/RequestPasswordReset.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
  frontend/dashboard/src/types/auth.ts
Due: frontend-dashboard-pipeline

refactor: applied consistent file naming conventions for dashboard frontend
  CHANGELOG.md
  CLAUDE.md
  FILE-TREE.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/pages/HomePublicPage.tsx
  frontend/dashboard/src/pages/LoginPage.tsx
  frontend/dashboard/src/pages/NotFoundPage.tsx
  frontend/dashboard/src/pages/RegisterPage.tsx
  frontend/dashboard/src/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/pages/SettingsPage.tsx
  frontend/dashboard/src/pages/__tests__/ChangePasswordPage.test.tsx
  frontend/dashboard/src/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/pages/__tests__/HomePublicPage.test.tsx
  frontend/dashboard/src/pages/__tests__/LoginPage.test.tsx
  frontend/dashboard/src/pages/__tests__/NotFoundPage.test.tsx
  frontend/dashboard/src/pages/__tests__/RegisterPage.test.tsx
  frontend/dashboard/src/pages/__tests__/RequestPasswordResetPage.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPasswordPage.test.tsx
  frontend/dashboard/src/pages/__tests__/SettingsPage.test.tsx
  frontend/dashboard/src/router.tsx
  frontend/dashboard/src/services/__tests__/api.test.ts
  frontend/dashboard/src/services/api.service.ts
  frontend/dashboard/src/services/authApi.service.ts
  frontend/dashboard/src/types/api.type.ts
  frontend/dashboard/src/types/auth.type.ts
Due: frontend-dashboard-pipeline

feat: restructure CLAUDE.md into modular components and update related documentation; add CI/CD and command references
  .claude/cicd.md
  .claude/commands.md
  .claude/commands/cicd.md
  .claude/commands/done.md
  .claude/commands/test.md
  .claude/constraints.md
  .claude/maintenance.md
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  FILE-TREE.md
Due: none

refactor: migrate forms to react-hook-form with zod validation
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/src/components/PasswordInput.tsx
  frontend/dashboard/src/features/auth/auth.schemas.ts
  frontend/dashboard/src/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/pages/LoginPage.tsx
  frontend/dashboard/src/pages/RegisterPage.tsx
  frontend/dashboard/src/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/pages/__tests__/ChangePasswordPage.test.tsx
  frontend/dashboard/src/pages/__tests__/LoginPage.test.tsx
  frontend/dashboard/src/pages/__tests__/RegisterPage.test.tsx
  frontend/dashboard/src/pages/__tests__/RequestPasswordResetPage.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPasswordPage.test.tsx
  frontend/dashboard/src/styles/index.css
Due: frontend-dashboard-pipeline

fix: docker-dind doesn't start sometimes
  infrastructure/docker-compose-tools.yml
Due: none

feat: extract shared components for authentication pages to reduce duplicate code and improve maintainability
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/components/AuthCard.tsx
  frontend/dashboard/src/components/AuthPageHeader.tsx
  frontend/dashboard/src/components/BackLink.tsx
  frontend/dashboard/src/components/FieldError.tsx
  frontend/dashboard/src/components/SubmitButton.tsx
  frontend/dashboard/src/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/pages/LoginPage.tsx
  frontend/dashboard/src/pages/RegisterPage.tsx
  frontend/dashboard/src/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/pages/ResetPasswordPage.tsx
Due: frontend-dashboard-pipeline

refactor: frontend dashboard reorganized src/ into a feature-first structure
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/ProtectedRoute.test.tsx
  frontend/dashboard/src/features/auth/__tests__/PublicOnlyRoute.test.tsx
  frontend/dashboard/src/features/auth/components/AuthCard.tsx
  frontend/dashboard/src/features/auth/components/AuthPageHeader.tsx
  frontend/dashboard/src/features/auth/components/ProtectedRoute.tsx
  frontend/dashboard/src/features/auth/components/PublicOnlyRoute.tsx
  frontend/dashboard/src/features/auth/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/LoginPage.tsx
  frontend/dashboard/src/features/auth/pages/RegisterPage.tsx
  frontend/dashboard/src/features/auth/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/ChangePasswordPage.test.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/LoginPage.test.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/RegisterPage.test.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/RequestPasswordResetPage.test.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/ResetPasswordPage.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/features/auth/types/auth.type.ts
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/SettingsPage.test.tsx
  frontend/dashboard/src/features/public/pages/HomePublicPage.tsx
  frontend/dashboard/src/features/public/pages/NotFoundPage.tsx
  frontend/dashboard/src/features/public/pages/__tests__/HomePublicPage.test.tsx
  frontend/dashboard/src/features/public/pages/__tests__/NotFoundPage.test.tsx
  frontend/dashboard/src/router.tsx
Due: frontend-dashboard-pipeline

feat: implement shared EmailField component and update auth pages to use it; mark props as read-only in several components
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/components/BackLink.tsx
  frontend/dashboard/src/components/FieldError.tsx
  frontend/dashboard/src/components/SubmitButton.tsx
  frontend/dashboard/src/features/auth/components/AuthCard.tsx
  frontend/dashboard/src/features/auth/components/AuthPageHeader.tsx
  frontend/dashboard/src/features/auth/components/EmailField.tsx
  frontend/dashboard/src/features/auth/pages/LoginPage.tsx
  frontend/dashboard/src/features/auth/pages/RequestPasswordResetPage.tsx
Due: frontend-dashboard-pipeline

feat: implement refresh token functionality
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/LoginRequest.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Responses/LoginResponse.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Responses/SessionResponse.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/JwtAuthOptions.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260427220653_AddRefreshTokens.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260427220653_AddRefreshTokens.cs
  backend/users/Touir.ExpensesManager.Users/Models/RefreshToken.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IRefreshTokenRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IUserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/RefreshTokenRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IAuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IRefreshTokenService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RefreshTokenService.cs
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/features/auth/types/auth.type.ts
  frontend/dashboard/src/services/api.service.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

feat: enhance authentication flow with rememberMe option and improve test coverage for API service
  frontend/dashboard/src/components/PasswordStrength.tsx
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/pages/LoginPage.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/services/__tests__/api.service.test.ts
Due: frontend-dashboard-pipeline

feat: resolve SonarQube quality-gate findings in api.service.ts and enhance request handling with helper functions
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/services/api.service.ts
Due: frontend-dashboard-pipeline

feat: resolve SonarQube quality-gate findings in AuthenticationController and LoginRequest; update RememberMe to nullable
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/LoginRequest.cs
Due: backend-users-pipeline

feat: implement password reset functionality; add email template and update service to send reset emails
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/PASSWORD_RESET_TEMPLATE.html
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHTMLTemplate.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
Due: backend-users-pipeline

feat: resolve SonarQube quality-gate findings; refactor error handling and improve email templates
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/TestHelpers/TestDbContextWrapper.cs
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/EMAIL_VERIFICATION_TEMPLATE.html
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/PASSWORD_RESET_TEMPLATE.html
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHTMLTemplate.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
Due: backend-users-pipeline

feat: add unit tests for RefreshTokenService and UserRoleAssignmentService; enhance test coverage and refactor role assignment logic
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RefreshTokenServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/UserRoleAssignmentServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/PASSWORD_RESET_TEMPLATE.html
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IUserRoleAssignmentService.cs
  backend/users/Touir.ExpensesManager.Users/Services/UserRoleAssignmentService.cs
Due: backend-users-pipeline

feat: add unit tests for RefreshTokenRepository; improve test coverage with comprehensive scenarios
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/RefreshTokenRepositoryTests.cs
Due: backend-users-pipeline

feat: enhance password reset functionality; include appCode in request and email link to prevent validation errors
  CHANGELOG.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/RequestPasswordResetRequest.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IAuthenticationService.cs
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

refactor: authentication and registration services
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/PasswordControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/RegistrationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/JwtTokenServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/PasswordManagementServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RegistrationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/PasswordController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IAuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IJwtTokenService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IPasswordManagementService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IRegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/JwtTokenService.cs
  backend/users/Touir.ExpensesManager.Users/Services/PasswordManagementService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RegistrationService.cs
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-users-pipeline

test: add unit tests for authentication and JWT token generation; enhance coverage for edge cases
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/JwtTokenServiceTests.cs
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
Due: backend-users-pipeline, frontend-dashboard-pipeline

feat: update email verification template and improve CI configuration; align styles and enhance exclusions for SonarQube analysis
  CHANGELOG.md
  backend/users/SonarQube.Analysis.xml
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/EMAIL_VERIFICATION_TEMPLATE.html
Due: backend-users-pipeline

feat: implement email service abstraction; refactor EmailHelper to use IEmailService and add SmtpEmailService implementation
  .claude/commands/done.md
  .claude/commands/qa.md
  .claude/commands/test.md
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/EmailHelperTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/SmtpEmailServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Contracts/IEmailService.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHelper.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/SmtpEmailService.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-users-pipeline

feat: refactor user service contracts to fix nullable issues; update role retrieval to return empty collections instead of null
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RoleServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/SmtpEmailService.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IUserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/RegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RoleService.cs
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-users-pipeline

feat: update fixes and suggestions documentation; mark obsolete items after SRP refactor and add new QA audit report for frontend dashboard
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
Due: none

feat: suppress duplicate authentication error toasts for unauthenticated visitors; add silent option to API requests and update tests
  .claude/constraints.md
  CHANGELOG.md
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/services/__tests__/api.service.test.ts
  frontend/dashboard/src/services/api.service.ts
Due: frontend-dashboard-pipeline

feat: suppress duplicate error toasts on failed login; update loginRequest to include silent option and adjust tests accordingly
  CHANGELOG.md
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
Due: frontend-dashboard-pipeline

feat: add friendly error page for expired email verification links; update application model and migration for error URL path
  CHANGELOG.md
  FILE-TREE.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/RegistrationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/EO/ApplicationEo.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260429200824_AddVerifyEmailErrorUrlPath.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260429200824_AddVerifyEmailErrorUrlPath.cs
  backend/users/Touir.ExpensesManager.Users/Models/Application.cs
  backend/users/Touir.ExpensesManager.Users/Services/ApplicationService.cs
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  frontend/dashboard/src/features/public/pages/VerifyErrorPage.tsx
  frontend/dashboard/src/router.tsx
Due: backend-users-pipeline, frontend-dashboard-pipeline

refactor: authentication and registration logic to use FluentValidation for input validation
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/PasswordControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/RegistrationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Touir.ExpensesManager.Users.Tests.csproj
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/ChangePasswordRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/ChangePasswordResetRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/LoginRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/RegisterRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/RequestPasswordResetRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/PasswordController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/ChangePasswordRequest.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/ChangePasswordResetRequest.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
  backend/users/Touir.ExpensesManager.Users/Validators/ChangePasswordRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/Validators/ChangePasswordResetRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/Validators/LoginRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/Validators/RegisterRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/Validators/RequestPasswordResetRequestValidator.cs
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/ChangePasswordPage.test.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/ResetPasswordPage.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/features/auth/types/auth.type.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

refactor: remove ConfirmPassword field from ChangePassword and ChangePasswordReset requests in tests
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/PasswordControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/ChangePasswordRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/ChangePasswordResetRequestValidatorTests.cs
Due: backend-users-pipeline

feat: implement password reset functionality with distinct flows; update related services, repository methods, and tests
  CHANGELOG.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/AuthenticationRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/PasswordManagementServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/AuthenticationServiceOptions.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/AuthenticationRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/PasswordManagementService.cs
  backend/users/Touir.ExpensesManager.Users/appsettings.Development.json
Due: backend-users-pipeline

feat: implement create password functionality; add CreatePassword endpoint, request model, and validation; update related services and tests
  CHANGELOG.md
  FILE-TREE.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/PasswordControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/PasswordManagementServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/CreatePasswordRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/PasswordController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/CreatePasswordRequest.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IPasswordManagementService.cs
  backend/users/Touir.ExpensesManager.Users/Services/PasswordManagementService.cs
  backend/users/Touir.ExpensesManager.Users/Validators/CreatePasswordRequestValidator.cs
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/ResetPasswordPage.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/features/auth/types/auth.type.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

refactor: remove unused verifyEmailUrl field from PasswordManagementService
  backend/users/Touir.ExpensesManager.Users/Services/PasswordManagementService.cs
Due: backend-users-pipeline

feat: add max-length validation for registration fields; update validator, schema, and tests
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/RegisterRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users/Validators/RegisterRequestValidator.cs
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  frontend/dashboard/src/features/auth/auth.schemas.ts
  frontend/dashboard/src/features/auth/pages/RegisterPage.tsx
  frontend/dashboard/src/features/auth/pages/__tests__/RegisterPage.test.tsx
Due: backend-users-pipeline, frontend-dashboard-pipeline

doc: add project documentation for ExpenseManager
  .claude/settings.json
  .github/copilot-instructions.md
  .graphifyignore
  CLAUDE.md
  docs/wiki/api-reference.md
  docs/wiki/architecture.md
  docs/wiki/backend-expenses-service.md
  docs/wiki/backend-users-service.md
  docs/wiki/data-models.md
  docs/wiki/frontend.md
  docs/wiki/index.md
  docs/wiki/infrastructure.md
  docs/wiki/use-cases.md
Due: none

feat(i18n): add English, Spanish, and French translations for the application
  CHANGELOG.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/setupTests.ts
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/components/PasswordStrength.tsx
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/features/auth/auth.schemas.ts
  frontend/dashboard/src/features/auth/components/EmailField.tsx
  frontend/dashboard/src/features/auth/pages/ChangePasswordPage.tsx
  frontend/dashboard/src/features/auth/pages/LoginPage.tsx
  frontend/dashboard/src/features/auth/pages/RegisterPage.tsx
  frontend/dashboard/src/features/auth/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/public/pages/HomePublicPage.tsx
  frontend/dashboard/src/features/public/pages/NotFoundPage.tsx
  frontend/dashboard/src/features/public/pages/VerifyErrorPage.tsx
  frontend/dashboard/src/i18n/index.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/main.tsx
  to_be_renamed.md
Due: frontend-dashboard-pipeline

feat: resolve Sonar alerts in Toast component and update related files; change ID generation to crypto.randomUUID and update export syntax
  CHANGELOG.md
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/i18n/index.ts
Due: frontend-dashboard-pipeline

feat(tests): add comprehensive tests for routing, language switching, and authentication; enhance i18n setup and coverage
  .claude/commands/test.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/__tests__/router.test.tsx
  frontend/dashboard/src/components/__tests__/LanguageSwitcher.test.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/services/__tests__/authApi.service.test.ts
  frontend/dashboard/src/features/public/pages/__tests__/VerifyErrorPage.test.tsx
  frontend/dashboard/src/i18n/__tests__/i18n.test.ts
  frontend/dashboard/src/i18n/index.ts
  frontend/dashboard/src/services/__tests__/api.service.env.test.ts
  frontend/dashboard/src/services/api.service.ts
  frontend/dashboard/vitest.config.ts
Due: frontend-dashboard-pipeline
