Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
    - local: backend/users/.gitlab-ci.yml
    strategy: depend

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
    - local: backend/expenses/.gitlab-ci.yml
    strategy: depend

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
    - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend

fix sonar job
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

fix sonar job
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/docker-compose-tools.yml
Due: frontend-dashboard-pipeline

sca + sonar fixes
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
Due: backend-users-pipeline, frontend-dashboard-pipeline

fix sca
  frontend/dashboard/.gitlab-ci.yml
Due: frontend-dashboard-pipeline

sca fix
  backend/expenses/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  frontend/dashboard/package-lock.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] clean sonar ci
  backend/expenses/.gitlab-ci.yml
Due: backend-expenses-pipeline

ci refactor
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
  infrastructure/configs/gitlab-ci-templates/ci-common-stages.yml
  infrastructure/configs/gitlab-ci-templates/ci-test.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] gitlab ci refactoring
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-stages.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

sonar job refactor
  frontend/dashboard/.gitlab-ci.yml
  frontend/dashboard/sonar-project.properties
Due: frontend-dashboard-pipeline

sonar ci refactoring
  backend/users/.gitlab-ci.yml
  backend/users/sonar-project.properties
Due: backend-users-pipeline

fix sonarqube job
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

fix sonar properties file
  backend/users/SonarQube.Analysis.xml
  backend/users/sonar-project.properties
Due: backend-users-pipeline

sonarqube fix
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

sonar fix
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline

fix sonar
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline

test sonar properties file
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

sonar fix
  backend/users/.gitlab-ci.yml
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline

fix sonar
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

sonar coverage
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline

gitlab ci refactoring
  backend/expenses/.gitlab-ci.yml
  backend/expenses/SonarQube.Analysis.xml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-quality.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

fix sonar ci
  infrastructure/configs/gitlab-ci-templates/ci-quality.yml
Due: none

gitlab ci refactoring
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
  infrastructure/configs/gitlab-ci-templates/ci-init.yml
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
  infrastructure/configs/gitlab-ci-templates/ci-test.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

gitlab ci refactoring
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] gitlab ci refactoring
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/configs/gitlab-ci-templates/ci-docker-security.yml
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
  infrastructure/configs/gitlab-ci-templates/ci-init.yml
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] readme.md change
  README.md
Due: none

[ci skip] changelog.md file
  CHANGELOG.md
Due: none

[ci skip] documentation
  backend/dashboard/README.md
  backend/expenses/README.md
  backend/users/README.md
  infrastructure/README.md
  mobile/README.md
Due: backend-users-pipeline, backend-expenses-pipeline

fix sonar coverage
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline

fix unit tests and coverage
  backend/users/SonarQube.Analysis.xml
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/AuthenticationRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/RoleRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/UserRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AuthenticationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RoleServiceTests.cs
Due: backend-users-pipeline

sonar gate fix
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/EmailHelperTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/AuthenticationRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/RoleRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/UserRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/ApplicationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RoleServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Contracts/IEmailHelper.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/CryptographyHelper.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHelper.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/ApplicationRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IApplicationRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IRoleRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/RoleRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/ApplicationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IApplicationService.cs
Due: backend-users-pipeline

fix sonar quality gate
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/EmailHelperTests.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHTMLTemplate.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
Due: backend-users-pipeline

infrastructure refactoring
  infrastructure/.env.example
  infrastructure/configs/cron/mirror-crontab
  infrastructure/docker-compose-tools.yml
  infrastructure/jobs/Dockerfile
  infrastructure/jobs/cron-configs/github-gitlab-sync/repos.txt
  infrastructure/jobs/cron-configs/github-gitlab-sync/script.sh
  infrastructure/jobs/crontab
  infrastructure/jobs/scripts/cron-runner.sh
  infrastructure/jobs/scripts/minio-sync.sh
  infrastructure/jobs/supervisord.conf
Due: none

readme update
  infrastructure/README.md
Due: none

changelog update
  CHANGELOG.md
Due: none

update infra for docker deploy
  backend/users/.gitlab-ci.yml
  backend/users/Dockerfile
  infrastructure/.env.example
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
  infrastructure/configs/gitlab-ci-templates/ci-init.yml
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
  infrastructure/docker-compose-apps.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/run-docker-compose-apps.bat
Due: backend-users-pipeline

fix pipeline
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline

remove typo
  backend/users/Dockerfile
Due: backend-users-pipeline

Path conditions:
  backend-users-pipeline: any of: backend/users/**/*
  backend-expenses-pipeline: any of: backend/expenses/**/*
  frontend-dashboard-pipeline: any of: frontend/dashboard/**/*
