Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
    - local: backend/users/.gitlab-ci.yml
    strategy: depend

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
    - local: backend/expenses/.gitlab-ci.yml
    strategy: depend

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
    - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend

fix: replace wget with curl for downloading MinIO client in CI configuration
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
Due: none

fix: revert curl to wget for downloading MinIO client in CI configuration
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
Due: none

feat: implement self-disable and role removal restrictions for admins; update tests and UI accordingly
  CHANGELOG.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AdminUserControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/AdminUserServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AdminUserController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/ControllerErrors.cs
  backend/users/Touir.ExpensesManager.Users/Services/AdminUserService.cs
  frontend/dashboard/src/features/admin/pages/AdminUsersPage.tsx
Due: backend-users-pipeline, frontend-dashboard-pipeline

feat: enhance admin role management; prevent self-removal of APP_ADMIN role and update tests
  CHANGELOG.md
  frontend/dashboard/src/features/admin/pages/AdminUsersPage.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminUsersPage.test.tsx
Due: frontend-dashboard-pipeline

feat: update RateConflictDto and related services; rename AutomaticRate to AutoRate and adjust related logic
  .claude/settings.json
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/RateConflictDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRateRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyRateService.cs
Due: backend-expenses-pipeline

feat: enhance admin functionality; add user and currency management endpoints, update user config responses, and improve frontend admin routing
  docs/wiki/api-reference.md
  docs/wiki/backend-expenses-service.md
  docs/wiki/backend-users-service.md
  docs/wiki/frontend.md
  docs/wiki/index.md
Due: none

feat: implement CSV import functionality with preview and confirmation
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseImportControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CsvImportServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ControllerErrors.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CsvImportPreviewDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CsvImportResultDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseImportController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/CsvImportConfirmRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Touir.ExpensesManager.Expenses.csproj
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/CsvImportConfirmRequestValidator.cs
  docs/plans/implementation-plan.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/features/expenses/services/expensesApi.service.ts
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/router.tsx
  frontend/dashboard/src/services/api.service.ts
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: add validate rows endpoint and frontend support for re-validation of CSV import rows
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseImportControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CsvImportServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseImportController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/ValidateRowsRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/features/expenses/services/expensesApi.service.ts
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: enhance CSV import functionality with families display and editing features
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CsvImportPreviewDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

Enhance CsvImportPage tests: Add family context mock, improve tag handling, and refine test descriptions. Consolidate file input handling and ensure proper validation checks for tags and families.
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
Due: frontend-dashboard-pipeline

fix: resolve CSV import subcategory validation issue by correcting subcategory retrieval logic
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CsvImportServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
Due: backend-expenses-pipeline

fix: update FamilyDisplay to show '—' for empty families and exclude default family from FamilyMultiSelect dropdown
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
Due: frontend-dashboard-pipeline

fix: update CsvImportPage to ensure re-validate button replaces import button when edits are pending; adjust tests accordingly
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
Due: frontend-dashboard-pipeline

feat: add uniqueness validation for family and category names; enhance CSV import functionality
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/AdminCategoryServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CsvImportServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/FamilyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/FamilyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CategoryRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICategoryRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IFamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/FamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/AdminCategoryService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ServiceErrors.cs
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: Enhance CSV import functionality with validation and error handling
  .claude/commands/graphify-update.md
  .claude/constraints.md
  .gitignore
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseImportControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CsvImportServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Validators/ValidateRowsRequestValidatorTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ControllerErrors.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseImportController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CsvImportService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/ValidateRowsRequestValidator.cs
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/plans/done/upload_protection.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

fix: update ValidateRowsRequestValidator to ensure proper cascading validation for null rows
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/ValidateRowsRequestValidator.cs
Due: backend-expenses-pipeline

fix: resolve family IDs to names in CSV import re-validation
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
Due: frontend-dashboard-pipeline

feat: add per-row remove button and improve validation handling in CSV import
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
Due: frontend-dashboard-pipeline

test: update CsvImportPage test suite with new remove row functionality and validation checks
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
Due: frontend-dashboard-pipeline

docs: plan for implementation of notifications service
  docs/plans/phase-13-notifications.md
Due: none

feat: update notifications service configuration and add RabbitMQ provisioning
  CHANGELOG.md
  FILE-TREE.md
  backend/notifications/Touir.ExpensesManager.Notifications/appsettings.Development.json
  backend/notifications/Touir.ExpensesManager.Notifications/appsettings.json
  infrastructure/configs/rabbitmq/management_definitions.json
  infrastructure/docker-compose-apps.yml
Due: none

feat: update NotificationController routes and enhance XML documentation for API methods
  .claude/settings.json
  CHANGELOG.md
  backend/notifications/Touir.ExpensesManager.Notifications/Controllers/NotificationController.cs
Due: none

feat: enhance ExpenseService to support explicit family attribution and improve DTO mapping
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
Due: backend-expenses-pipeline

feat: enhance notification system with new types and improved text handling
  CHANGELOG.md
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/features/notifications/types/notification.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

feat: add family filtering to expenses list and update related DTOs and API
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/ExpenseFilterDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/ExpenseRepository.cs
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/services/expensesApi.service.ts
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

Add unit tests for authentication, expenses, notifications, and tags features
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/sonar-project.properties
  frontend/dashboard/src/components/__tests__/BackLink.test.tsx
  frontend/dashboard/src/components/__tests__/FieldError.test.tsx
  frontend/dashboard/src/components/__tests__/SubmitButton.test.tsx
  frontend/dashboard/src/features/admin/components/__tests__/AdminLayout.test.tsx
  frontend/dashboard/src/features/admin/components/__tests__/AdminRoute.test.tsx
  frontend/dashboard/src/features/admin/services/__tests__/adminCategoriesApi.service.test.ts
  frontend/dashboard/src/features/admin/services/__tests__/adminCurrenciesApi.service.test.ts
  frontend/dashboard/src/features/admin/services/__tests__/adminRatesApi.service.test.ts
  frontend/dashboard/src/features/admin/services/__tests__/adminUsersApi.service.test.ts
  frontend/dashboard/src/features/auth/__tests__/auth.schemas.test.ts
  frontend/dashboard/src/features/auth/components/__tests__/AuthBrandPanel.test.tsx
  frontend/dashboard/src/features/auth/components/__tests__/AuthCard.test.tsx
  frontend/dashboard/src/features/auth/components/__tests__/AuthPageHeader.test.tsx
  frontend/dashboard/src/features/auth/components/__tests__/EmailField.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/AddExpenseModal.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/EditExpenseModal.test.tsx
  frontend/dashboard/src/features/families/services/__tests__/familyApi.service.test.ts
  frontend/dashboard/src/features/notifications/__tests__/NotificationContext.test.tsx
  frontend/dashboard/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/dashboard/src/features/notifications/services/__tests__/notificationApi.service.test.ts
  frontend/dashboard/src/features/tags/services/__tests__/tagsApi.service.test.ts
  frontend/dashboard/src/hooks/__tests__/usePageTitle.test.ts
  frontend/dashboard/vitest.config.ts
Due: frontend-dashboard-pipeline

Add unit tests for FamilyEventPublisher and enhance repository tests
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/SonarQube.Analysis.xml
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/AdminCategoryControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/AdminCurrencyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/AdminRateControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/DashboardControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/FamilyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Messaging/FamilyEventPublisherTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CategoryRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRateRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/ExpensesOutboxRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/External/UserRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/FamilyRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/AdminCategoryServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/FamilyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/TestHelpers/TestExpensesDbContextEnsureCreated.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260604190600_AddExpensesOutbox.cs
Due: backend-expenses-pipeline

feat: enhance test coverage for notifications backend to ~99%
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/notifications/SonarQube.Analysis.xml
  backend/notifications/Touir.ExpensesManager.Notifications.Tests/Controllers/NotificationControllerTests.cs
  backend/notifications/Touir.ExpensesManager.Notifications.Tests/Infrastructure/JwtCookieReaderTests.cs
  backend/notifications/Touir.ExpensesManager.Notifications.Tests/Repositories/InboxRepositoryTests.cs
  backend/notifications/Touir.ExpensesManager.Notifications.Tests/Services/NotificationServiceTests.cs
  backend/notifications/Touir.ExpensesManager.Notifications/Hubs/NotificationHub.cs
  backend/notifications/Touir.ExpensesManager.Notifications/Infrastructure/EmailHelper.cs
Due: none

feat: add Phase 14 mobile app plan with Ionic, Capacitor, and React
  docs/plans/phase-14-mobile-app.md
Due: none

feat: integrate @types/node and update dependencies
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/phase-14-mobile-app.md
  frontend/mobile/index.html
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/App.tsx
  frontend/mobile/src/features/auth/pages/LoginPage.tsx
  frontend/mobile/src/features/dashboard/pages/DashboardPage.tsx
  frontend/mobile/src/features/dashboard/pages/__tests__/DashboardPage.test.tsx
  frontend/mobile/src/features/expenses/pages/ExpensesListPage.tsx
  frontend/mobile/src/features/expenses/pages/__tests__/QuickAddModal.test.tsx
  frontend/mobile/src/features/families/pages/FamiliesPage.tsx
  frontend/mobile/src/features/notifications/components/NotificationBell.tsx
  frontend/mobile/src/features/settings/pages/__tests__/SettingsPage.test.tsx
  frontend/mobile/src/router.tsx
  frontend/mobile/tsconfig.app.json
  frontend/mobile/vite.config.ts
Due: none

feat: fix mobile app tests and enhance stability
  .claude/constraints.md
  CHANGELOG.md
  frontend/mobile/src/features/auth/pages/__tests__/LoginPage.test.tsx
  frontend/mobile/src/features/expenses/pages/__tests__/ExpensesListPage.test.tsx
  frontend/mobile/src/features/notifications/__tests__/NotificationContext.test.tsx
  frontend/mobile/src/features/settings/pages/SettingsPage.tsx
Due: none

feat: improve mobile tests stability by fixing mock references and adding React.forwardRef
  .claude/constraints.md
  CHANGELOG.md
  frontend/mobile/src/features/expenses/pages/__tests__/QuickAddModal.test.tsx
Due: none

feat: update test script to run with coverage for improved reporting
  frontend/mobile/package.json
Due: none

feat: enhance mobile app with routing fixes, improved login UX, and proxy configuration
  .claude/constraints.md
  CHANGELOG.md
  frontend/mobile/src/App.tsx
  frontend/mobile/src/features/auth/pages/LoginPage.tsx
  frontend/mobile/src/features/families/pages/FamiliesPage.tsx
  frontend/mobile/src/features/settings/pages/SettingsPage.tsx
  frontend/mobile/src/router.tsx
  frontend/mobile/vite.config.ts
Due: none

docs: update deferred items section
  docs/plans/implementation-plan.md
Due: none

feat: add theme provider and toggle for light/dark mode
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/implementation-plan.md
  frontend/dashboard/src/components/ThemeToggle.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/SettingsPage.test.tsx
  frontend/dashboard/src/features/settings/ThemeContext.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/providers/AppProviders.tsx
  frontend/dashboard/src/styles/index.css
  frontend/dashboard/tailwind.config.ts
  frontend/mobile/src/features/settings/ThemeContext.tsx
  frontend/mobile/src/features/settings/pages/SettingsPage.tsx
  frontend/mobile/src/i18n/locales/de/translation.json
  frontend/mobile/src/i18n/locales/en/translation.json
  frontend/mobile/src/i18n/locales/es/translation.json
  frontend/mobile/src/i18n/locales/fr/translation.json
  frontend/mobile/src/providers/AppProviders.tsx
  frontend/mobile/src/theme/variables.css
Due: frontend-dashboard-pipeline

Path conditions:
  backend-users-pipeline: any of: backend/users/**/*
  backend-expenses-pipeline: any of: backend/expenses/**/*
  frontend-dashboard-pipeline: any of: frontend/dashboard/**/*
