Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

change gitlab port
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/docker-compose-tools.yml
  infrastructure/run-docker-compose-apps.bat
  infrastructure/scripts/gitlab-register-runner.sh
Due: none

update users container image deploy
  backend/users/Touir.ExpensesManager.Users/Program.cs
  infrastructure/.env.example
  infrastructure/docker-compose-apps.yml
  infrastructure/run-docker-compose-apps.bat
Due: backend-users-pipeline

pull always for images
  infrastructure/docker-compose-apps.yml
  infrastructure/run-docker-compose-apps.bat
Due: none

adding health check
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
  infrastructure/docker-compose-apps.yml
Due: backend-users-pipeline

fix sonarqube quality gate
  backend/users/Touir.ExpensesManager.Users/Program.cs
Due: backend-users-pipeline

fix sonar quality gate
  backend/users/Touir.ExpensesManager.Users/Program.cs
Due: backend-users-pipeline

update front url paths
  frontend/dashboard/.gitlab-ci.yml
  frontend/dashboard/package.json
  frontend/dashboard/src/auth/AuthContext.tsx
  frontend/dashboard/src/auth/__tests__/AuthContext.test.tsx
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
Due: frontend-dashboard-pipeline

fix url dashboard
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
Due: frontend-dashboard-pipeline

[ci skip] fix gitlab ci
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/configs/gitlab-ci-templates/ci-docker-security.yml
  infrastructure/configs/gitlab-ci-templates/ci-quality.yml
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

[ci skip] docker deploy implementation
  infrastructure/.env.example
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/docker-compose-apps.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/jobs/Dockerfile
  infrastructure/jobs/supervisord.conf
Due: none

[ci skip] fix watchtower
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/jobs/Dockerfile
  infrastructure/jobs/supervisord.conf
Due: none

[ci skip] fix deploy docker
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
Due: none

[ci skip] fixing deploy + refactoring
  infrastructure/README.md
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/jobs/Dockerfile
  infrastructure/jobs/configs/github-gitlab-sync-repos.txt
  infrastructure/jobs/configs/proxy_config.json
  infrastructure/jobs/crontab
  infrastructure/jobs/scripts/github-gitlab-sync.sh
  infrastructure/jobs/scripts/registry_proxy.py
  infrastructure/jobs/scripts/watchtower-runner.sh
  infrastructure/jobs/supervisord.conf
Due: none

[ci skip] fix watchtower
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/docker-compose-tools.yml
Due: none

replace watchtower with custom api
  backend/users/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/docker-compose-apps.yml
  infrastructure/docker-compose-tools.yml
  infrastructure/jobs/Dockerfile
  infrastructure/jobs/scripts/docker-updater-runner.sh
  infrastructure/jobs/scripts/docker_image_updater_api.py
  infrastructure/jobs/supervisord.conf
Due: backend-users-pipeline

[ci skip] readme update + docker deploy fix
  CHANGELOG.md
  README.md
  backend/expenses/README.md
  backend/users/README.md
  frontend/dashboard/README.md
  infrastructure/README.md
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

adding deploy job expenses service
  backend/expenses/.gitlab-ci.yml
  backend/expenses/Dockerfile
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  infrastructure/.env.example
  infrastructure/docker-compose-apps.yml
  infrastructure/start-expenses-manager-apps.bat
Due: backend-expenses-pipeline

fix expenses pipeline
  backend/expenses/.gitlab-ci.yml
Due: backend-expenses-pipeline

fix deploy
  infrastructure/jobs/scripts/docker_image_updater_api.py
Due: none

refactor dockerfile expenses
  backend/expenses/Dockerfile
Due: backend-expenses-pipeline

[ci skip] fix sonar alert
  backend/expenses/Dockerfile
  backend/users/Dockerfile
Due: backend-users-pipeline, backend-expenses-pipeline

adding check api for logged in users
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
Due: backend-users-pipeline

fix sonar gate alerts
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
Due: backend-users-pipeline

api auth checks
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
Due: none

frontend ux & ui refactoring
  .vscode/settings.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  backend/expenses/README.md
  backend/users/README.md
  frontend/dashboard/README.md
  frontend/dashboard/index.html
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/postcss.config.cjs
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/components/NavBar.tsx
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/components/__tests__/Toast.test.tsx
  frontend/dashboard/src/index.css
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/HomePublic.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/RequestPasswordReset.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/HomePublic.test.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  frontend/dashboard/tailwind.config.ts
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

fix sonarqube gate alerts
  .gitignore
  .vscode/settings.json
  frontend/dashboard/src/__tests__/api.test.ts
  frontend/dashboard/src/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/components/__tests__/NavBar.test.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
Due: frontend-dashboard-pipeline

dashboard routing refactor and fix change password
  CHANGELOG.md
  frontend/dashboard/README.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/auth/AuthContext.tsx
  frontend/dashboard/src/components/NavBar.tsx
  frontend/dashboard/src/components/PublicOnlyRoute.tsx
  frontend/dashboard/src/components/__tests__/NavBar.test.tsx
  frontend/dashboard/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/dashboard/src/components/__tests__/PublicOnlyRoute.test.tsx
  frontend/dashboard/src/pages/HomeDashboard.tsx
  frontend/dashboard/src/pages/Login.tsx
  frontend/dashboard/src/pages/__tests__/HomeDashboard.test.tsx
  frontend/dashboard/src/pages/__tests__/Login.test.tsx
Due: frontend-dashboard-pipeline

bugfix: dashboard tests & sonar gate fixes
  frontend/dashboard/src/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/components/PublicOnlyRoute.tsx
Due: frontend-dashboard-pipeline

refactor: enhance authentication context tests and improve loading states in routes
  CHANGELOG.md
  CLAUDE.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  frontend-dashboard-test-result.md
  frontend/dashboard/src/__tests__/api.test.ts
  frontend/dashboard/src/api.ts
  frontend/dashboard/src/auth/AuthContext.tsx
  frontend/dashboard/src/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/components/ProtectedRoute.tsx
  frontend/dashboard/src/components/PublicOnlyRoute.tsx
  frontend/dashboard/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/dashboard/src/components/__tests__/PublicOnlyRoute.test.tsx
  frontend/dashboard/src/pages/Register.tsx
  frontend/dashboard/src/pages/__tests__/Register.test.tsx
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
Due: backend-users-pipeline, frontend-dashboard-pipeline

chore: update changelog for cookie-based authentication enhancements and fix validation errors
  CHANGELOG.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  frontend/dashboard/src/api.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

fix: update unauthorized redirect to use globalThis for better compatibility
  CHANGELOG.md
  frontend/dashboard/src/api.ts
Due: frontend-dashboard-pipeline

chore: add frontend dashboard QA report to documentation
  CLAUDE.md
  qa/2026-03-22-frontend-dashboard-qa.md
Due: none

docs: update CLAUDE.md and add FILE-TREE.md for improved documentation structure
  CLAUDE.md
  FILE-TREE.md
Due: none

feat: add Mailpit for local email testing and configure SSL options
  CHANGELOG.md
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHelper.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/EmailOptions.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  infrastructure/.env.example
  infrastructure/docker-compose-apps.yml
  infrastructure/docker-compose-tools.yml
Due: backend-users-pipeline

feat: add email configuration section to README and enhance EmailHelperTests for SSL handling
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/EmailHelperTests.cs
Due: backend-users-pipeline

feat: enhance GitLab CI configurations with caching for NuGet packages
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
  infrastructure/configs/gitlab-ci-templates/ci-test.yml
  infrastructure/configs/gitlab-runner/config.toml
Due: none

feat: update changelog and README for Mailpit integration; enhance EmailHelper and GitLab CI configurations
  CHANGELOG.md
  README.md
  backend/users/Touir.ExpensesManager.Users/Infrastructure/EmailHelper.cs
  infrastructure/configs/gitlab-runner/config.toml
Due: backend-users-pipeline

feat: enhance Change and Reset Password pages with distinct validation error messages; update Docker image reference in CI configuration
  CHANGELOG.md
  frontend/dashboard/src/pages/ChangePassword.tsx
  frontend/dashboard/src/pages/ResetPassword.tsx
  frontend/dashboard/src/pages/__tests__/ChangePassword.test.tsx
  frontend/dashboard/src/pages/__tests__/ResetPassword.test.tsx
  infrastructure/configs/gitlab-ci-templates/ci-docker-security.yml
  infrastructure/configs/gitlab-runner/config.toml
  qa/2026-03-22-frontend-dashboard-qa.md
Due: frontend-dashboard-pipeline

feat: update changelog for validation messages and Docker configurations; add Mailpit environment variables and migration for application URLs
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users/Migrations/20260323120000_UpdateApplicationUrls.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260323120000_UpdateApplicationUrls.cs
  infrastructure/docker-compose-tools.yml
Due: backend-users-pipeline
