Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

feat: simplify logout handling in NavBar and update tests for streamlined behavior
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: enhance logout handling in NavBar with microtask deferral and update tests for accurate behavior
  .claude/constraints.md
  .claude/settings.json
  .gitignore
  CHANGELOG.md
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: redesign NavBar and user menu, add notifications button, and update language switcher with flags
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: update family name validation to 30 characters, adjust related tests and translations
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Validators/FamilyValidatorTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/CreateFamilyRequestValidator.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/RenameFamilyRequestValidator.cs
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/components/__tests__/LanguageSwitcher.test.tsx
  frontend/dashboard/src/features/families/__tests__/family.schemas.test.ts
  frontend/dashboard/src/features/families/components/FamilySelector.tsx
  frontend/dashboard/src/features/families/family.schemas.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: resolve Sonar static analysis issues, update ARIA roles, and improve component structure across FamilyService, LanguageSwitcher, FamilySelector, and FamiliesPage
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/components/__tests__/LanguageSwitcher.test.tsx
  frontend/dashboard/src/features/families/FamilyContext.tsx
  frontend/dashboard/src/features/families/components/FamilySelector.tsx
  frontend/dashboard/src/features/families/components/__tests__/FamilySelector.test.tsx
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/public/pages/HomePublicPage.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: refactor Modal component for improved keyboard and outside click handling; add Escape key test in FamiliesPage tests
  CHANGELOG.md
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
Due: frontend-dashboard-pipeline

feat: update changelog for version 0.99.0; add Sonar fixes and new TagController tests
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/TagControllerTests.cs
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/public/pages/HomePublicPage.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
  frontend/dashboard/src/features/tags/components/__tests__/TagInput.test.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: refactor TagInput component to use div instead of ul for dropdown menu items
  frontend/dashboard/src/features/tags/components/TagInput.tsx
Due: frontend-dashboard-pipeline

feat: implement family member self-action guards in backend and frontend; update FamiliesPage for role management
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/FamilyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IFamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/FamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: add LeaveAsync functionality for family members
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/CurrencyRateControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/FamilyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Jobs/RateAutoUpdateJobTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/FamilyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Validators/CreateTagRequestValidatorTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/FamilyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IFamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FrankfurterRateProvider.cs
  docs/plans/implementation-plan.md
  frontend/dashboard/src/features/currencies/DisplayCurrencyContext.tsx
  frontend/dashboard/src/features/currencies/components/DisplayCurrencySelector.tsx
  frontend/dashboard/src/features/currencies/components/__tests__/DisplayCurrencySelector.test.tsx
  frontend/dashboard/src/features/families/__tests__/familyApi.service.test.ts
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/families/services/familyApi.service.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  infrastructure/.env.example
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: add family invitation email template and email service integration
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/EmailHelperTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/SmtpEmailServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/FamilyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Assets/EmailTemplates/FAMILY_INVITATION_TEMPLATE.html
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Contracts/IEmailHelper.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Contracts/IEmailService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/EmailHelper.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/EmailHtmlTemplate.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Options/EmailOptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Options/FamilyOptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/SmtpEmailService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Touir.ExpensesManager.Expenses.csproj
  backend/users/Touir.ExpensesManager.Users.Tests/Infrastructure/EmailHelperTests.cs
  backend/users/Touir.ExpensesManager.Users/Assets/EmailTemplates/EMAIL_VERIFICATION_TEMPLATE.html
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  docs/wiki/backend-expenses-service.md
  docs/wiki/backend-users-service.md
  docs/wiki/family-system.md
  docs/wiki/testing.md
  infrastructure/.env.example
  infrastructure/docker-compose-apps.yml
Due: backend-users-pipeline, backend-expenses-pipeline

feat: implement ServiceErrors class for domain error codes and refactor exceptions to use constants
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CurrencyRateServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Contracts/IRateProvider.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/FrankfurterRateProvider.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyRateService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyExceptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ServiceErrors.cs
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: update FamiliesPage to exclude default family from active list and adjust related tests
  CHANGELOG.md
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
Due: frontend-dashboard-pipeline

feat: Implement dashboard functionality with detailed expense breakdowns
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/DashboardControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/DashboardRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/DashboardServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ControllerErrors.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CategoryAmountDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CategoryBreakdownDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CurrencyBreakdownDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/DashboardSummaryDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/MonthlyBreakdownDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/SameMonthYearlyDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DashboardController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IDashboardRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/DashboardRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IDashboardService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/DashboardService.cs
  docs/plans/implementation-plan.md
  infrastructure/jobs/scripts/minio-sync.sh
Due: backend-expenses-pipeline

feat(expenses): add expense management features including add, edit, and delete functionalities
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  docs/plans/implementation-plan.md
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/src/features/expenses/__tests__/expense.schemas.test.ts
  frontend/dashboard/src/features/expenses/components/ExpenseFilters.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseForm.test.tsx
  frontend/dashboard/src/features/expenses/expense.schemas.ts
  frontend/dashboard/src/features/expenses/pages/AddExpensePage.tsx
  frontend/dashboard/src/features/expenses/pages/EditExpensePage.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/AddExpensePage.test.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/EditExpensePage.test.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/features/expenses/services/__tests__/expensesApi.service.test.ts
  frontend/dashboard/src/features/expenses/services/expensesApi.service.ts
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/providers/AppProviders.tsx
  frontend/dashboard/src/router.tsx
Due: frontend-dashboard-pipeline

feat: update ExpenseController route to root and modify nginx config for expense API
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseController.cs
Due: backend-expenses-pipeline

feat: update nginx expenses routing and fix TagService concurrency issue
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Services/TagService.cs
  infrastructure/configs/nginx/sites-available/expenses-manager.conf
Due: backend-expenses-pipeline

feat: add SameMonthChart and SpendChart components for visualizing monthly data
  CHANGELOG.md
  FILE-TREE.md
  docs/issues/fixed/qa/2026-04-29-frontend-dashboard-fixes.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  docs/plans/implementation-plan.md
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/CurrenciesPanel.tsx
  frontend/dashboard/src/features/dashboard/components/DashboardFilters.tsx
  frontend/dashboard/src/features/dashboard/components/MonthHero.tsx
  frontend/dashboard/src/features/dashboard/components/RecentExpenses.tsx
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CategoryDonut.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CurrenciesPanel.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/DashboardFilters.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/MonthHero.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/RecentExpenses.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/SameMonthChart.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/SpendChart.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/dashboard/services/__tests__/dashboardApi.service.test.ts
  frontend/dashboard/src/features/dashboard/services/dashboardApi.service.ts
  frontend/dashboard/src/features/dashboard/types/dashboard.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

fix(tests): update regex in MonthHero tests to handle locale-specific number formatting
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/features/dashboard/components/__tests__/MonthHero.test.tsx
Due: frontend-dashboard-pipeline

docs: update documentation and issues tracking
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/fixed/qa/2026-03-22-frontend-dashboard-fixes.md
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/issues/ongoing/qa_test_results/2026-03-22-frontend-dashboard-qa.md
  docs/issues/ongoing/qa_test_results/2026-04-29-frontend-dashboard-qa.md
  docs/wiki/api-reference.md
  docs/wiki/frontend.md
  docs/wiki/index.md
Due: none

feat: migrate Frankfurter API from v1 to v2 and update response handling
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/FrankfurterRateProvider.cs
Due: backend-expenses-pipeline

feat: Enhance currency rate management with new repository methods and service logic
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRateRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/ExpenseRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CurrencyRateServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICurrencyRateRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRateRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/ExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyRateService.cs
Due: backend-expenses-pipeline

feat: update currency rate management to store all destination currencies and optimize API calls
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CurrencyRateServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyRateService.cs
Due: backend-expenses-pipeline

feat: implement FilterCombobox component for category, subcategory, and currency filters with case-insensitive search
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/expenses/components/ExpenseFilters.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
Due: frontend-dashboard-pipeline

feat: add Expense button to NavBar and implement Tags multi-select filter in ExpenseFilters
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/ExpensesDataContext.tsx
  frontend/dashboard/src/features/expenses/__tests__/ExpensesDataContext.test.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseFilters.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
Due: frontend-dashboard-pipeline

feat: enhance tests for ExpensesDataContext, ExpenseFilters, and NavBar components
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/__tests__/ExpensesDataContext.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: refactor Add Expense functionality to use modal instead of separate page; update NavBar and ExpensesPage components accordingly
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/pages/AddExpensePage.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/AddExpensePage.test.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/router.tsx
Due: frontend-dashboard-pipeline

feat: enhance expense management with family attribution support
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/ExpenseDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/FamilyNameDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Expense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/ExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CategoryDonut.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/expenses/components/EditExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseForm.test.tsx
  frontend/dashboard/src/features/expenses/pages/EditExpensePage.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/EditExpensePage.test.tsx
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/router.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: update currency display across dashboard components and tests for consistency
  CHANGELOG.md
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/CurrenciesPanel.tsx
  frontend/dashboard/src/features/dashboard/components/RecentExpenses.tsx
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CategoryDonut.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CurrenciesPanel.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/RecentExpenses.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
Due: frontend-dashboard-pipeline

feat: enhance ExpenseService to include display currency in conversion; update related tests
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseServiceConversionTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
Due: backend-expenses-pipeline

feat: implement category color management with shared palette; update CategoryDonut and RecentExpenses components; add tests for color utility
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/RecentExpenses.tsx
  frontend/dashboard/src/features/dashboard/utils/__tests__/categoryColors.test.ts
  frontend/dashboard/src/features/dashboard/utils/categoryColors.ts
Due: frontend-dashboard-pipeline

feat: refactor CategoryDonut to use getCategoryColor for dynamic category colors; update tests for color utility
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/utils/__tests__/categoryColors.test.ts
  frontend/dashboard/src/features/dashboard/utils/categoryColors.ts
Due: frontend-dashboard-pipeline

feat: enhance login response to include isAdmin flag; update AuthContext and related tests for immediate admin menu rendering
  .claude/constraints.md
  CHANGELOG.md
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Responses/LoginResponse.cs
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/auth/__tests__/AuthContext.test.tsx
  frontend/dashboard/src/features/auth/services/authApi.service.ts
Due: backend-users-pipeline, frontend-dashboard-pipeline

feat: enhance AdminCurrenciesPage with edit, delete, and defaults functionality; update tests accordingly
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/AdminCurrencyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/AdminRateControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRateRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/AdminCurrencyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CurrencyRateServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/AdminCurrencyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/AdminRateController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CurrencyDefaultRateDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/PagedRatesResponse.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/AdminUpdateCurrencyRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/RefreshRatesRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICurrencyRateRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRateRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/AdminCurrencyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IAdminCurrencyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICurrencyRateService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyRateService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/AdminUpdateCurrencyRequestValidator.cs
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/components/__tests__/FormCombobox.test.tsx
  frontend/dashboard/src/features/admin/pages/AdminCurrenciesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminRatesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminUsersPage.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminCurrenciesPage.test.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminRatesPage.test.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminUsersPage.test.tsx
  frontend/dashboard/src/features/admin/services/adminCurrenciesApi.service.ts
  frontend/dashboard/src/features/admin/services/adminRatesApi.service.ts
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

Update French translations in translation.json for improved clarity and consistency
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/admin/pages/AdminCurrenciesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminRatesPage.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminCurrenciesPage.test.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminRatesPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline
