Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

test: fix failing tests by mocking useTheme in SettingsPage test
  CHANGELOG.md
  frontend/mobile/src/features/settings/pages/__tests__/SettingsPage.test.tsx
Due: none

docs: update documentation to reflect new backend notifications service and mobile app details
  FILE-TREE.md
  README.md
  docs/wiki/frontend.md
  docs/wiki/index.md
Due: none

feat: add SameMonthChart and SpendTrendChart components for dashboard visualization
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/phase-15-mobile-dashboard.md
  docs/plans/implementation-plan.md
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/features/dashboard/components/CategoryPieChart.tsx
  frontend/mobile/src/features/dashboard/components/CurrenciesPanel.tsx
  frontend/mobile/src/features/dashboard/components/DashboardDateFilter.tsx
  frontend/mobile/src/features/dashboard/components/SameMonthChart.tsx
  frontend/mobile/src/features/dashboard/components/SpendTrendChart.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/CategoryPieChart.test.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/CurrenciesPanel.test.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/DashboardDateFilter.test.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/SameMonthChart.test.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/SpendTrendChart.test.tsx
  frontend/mobile/src/features/dashboard/pages/DashboardPage.tsx
  frontend/mobile/src/features/dashboard/pages/__tests__/DashboardPage.test.tsx
  frontend/mobile/src/i18n/locales/de/translation.json
  frontend/mobile/src/i18n/locales/en/translation.json
  frontend/mobile/src/i18n/locales/es/translation.json
  frontend/mobile/src/i18n/locales/fr/translation.json
Due: none

fix: resolve TypeScript build errors in dashboard chart components and update test cases
  CHANGELOG.md
  frontend/mobile/src/features/dashboard/components/CategoryPieChart.tsx
  frontend/mobile/src/features/dashboard/components/SameMonthChart.tsx
  frontend/mobile/src/features/dashboard/components/SpendTrendChart.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/CategoryPieChart.test.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/DashboardDateFilter.test.tsx
Due: none

feat: enhance dark mode color harmony across dashboard and mobile components
  CHANGELOG.md
  frontend/dashboard/src/styles/index.css
  frontend/dashboard/tailwind.config.ts
  frontend/mobile/package.json
  frontend/mobile/src/features/dashboard/components/SameMonthChart.tsx
  frontend/mobile/src/features/dashboard/components/SpendTrendChart.tsx
  frontend/mobile/src/theme/variables.css
Due: frontend-dashboard-pipeline

docs: add comprehensive UX/UI improvements documentation for ExpenseManager
  docs/plans/ux-ui-improvements.md
Due: none

docs: document comprehensive visual design improvements and address dark mode inconsistencies across components
  docs/plans/ux-ui-improvements.md
Due: none

feat: add showLabel prop to ThemeToggle and update theme light option in translations
  CHANGELOG.md
  frontend/dashboard/src/components/ThemeToggle.tsx
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/mobile/src/i18n/locales/en/translation.json
  frontend/mobile/src/i18n/locales/es/translation.json
  frontend/mobile/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

feat: implement AcceptInvitePage and enhance navigation with active indicators and context selectors
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/mobile/src/features/families/pages/AcceptInvitePage.tsx
  frontend/mobile/src/router.tsx
Due: frontend-dashboard-pipeline

feat: update ExpensesPage and ExpenseFilters for improved dark mode support and UI consistency
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/components/ExpenseFilters.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
Due: frontend-dashboard-pipeline

refactor: update UI styles for consistency across admin and user pages
  CHANGELOG.md
  frontend/dashboard/src/components/PasswordInput.tsx
  frontend/dashboard/src/features/admin/pages/AdminCategoriesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminCurrenciesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminRateConflictsPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminRatesPage.tsx
  frontend/dashboard/src/features/admin/pages/AdminUsersPage.tsx
  frontend/dashboard/src/features/auth/pages/RequestPasswordResetPage.tsx
  frontend/dashboard/src/features/currencies/components/DisplayCurrencySelector.tsx
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/families/components/FamilySelector.tsx
  frontend/dashboard/src/features/families/pages/AcceptInvitePage.tsx
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/public/pages/NotFoundPage.tsx
  frontend/dashboard/src/features/public/pages/VerifyErrorPage.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
Due: frontend-dashboard-pipeline

feat: Enhance Dashboard UX with date filter persistence, empty state, and drill-down functionality
  CHANGELOG.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/CurrenciesPanel.tsx
  frontend/dashboard/src/features/dashboard/components/DashboardFilters.tsx
  frontend/dashboard/src/features/dashboard/components/MonthHero.tsx
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

Refactor ExpenseForm tests to improve clarity and ensure subcategory select behavior is correctly validated
  CHANGELOG.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseFilters.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseFilters.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseForm.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
  frontend/dashboard/src/features/tags/components/__tests__/TagInput.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

feat: Enhance dark mode support and improve dropdown components with portal-based rendering
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/EditExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
  frontend/dashboard/src/styles/index.css
  frontend/mobile/src/theme/variables.css
Due: frontend-dashboard-pipeline

Implement code changes to enhance functionality and improve performance
  .claude/constraints.md
Due: none

feat: Refactor ExpenseForm layout to a 2-column grid and update modal widths for improved UX
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/EditExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
Due: frontend-dashboard-pipeline

chore: Remove outdated renaming guidelines for sensitive files
  to_be_renamed.md
Due: none

docs: Update project status to v0.119.0 with enhancements in frontend dashboard and dark mode support
  docs/wiki/frontend.md
  docs/wiki/index.md
Due: none

feat: Enhance CSV Import UX with spinner, navigation warning, edited badge, sorting, and template description
  CHANGELOG.md
  docs/plans/done/phase4-csv-import-ux.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

docs: Implement archive confirmation modal, expand/collapse animation, and invite revocation functionality
  docs/plans/plan-05-families-management-web.md
Due: none

feat: Migrate to data router with RootLayout integration and update routing structure
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/__tests__/router.test.tsx
  frontend/dashboard/src/layouts/RootLayout.tsx
  frontend/dashboard/src/layouts/__tests__/RootLayout.test.tsx
  frontend/dashboard/src/router.tsx
Due: frontend-dashboard-pipeline

feat: implement archive confirmation modal, expand/collapse animation, and pending invitations management in FamiliesPage
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/FamilyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/FamilyPendingInvitationDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/FamilyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IFamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/FamilyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IFamilyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/FamilyService.cs
  docs/plans/done/plan-05-families-management-web.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/families/services/familyApi.service.ts
  frontend/dashboard/src/features/families/types/family.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: enhance families management with pending invitations handling and invite revocation functionality
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

docs: refactor theme toggle implementation by removing dropdown and adding icon-only button in NavBar
  docs/plans/settings-web-theme-toggle.md
Due: none

feat: refactor NavBar theme toggle by removing dropdown and adding icon-only button
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/settings-web-theme-toggle.md
  docs/plans/settings-web-theme-toggle.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/components/NavBarThemeButton.tsx
  frontend/dashboard/src/components/__tests__/NavBarThemeButton.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: refactor NavBar theme toggle to use OS preference, simplifying to light/dark only
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/settings-web-theme-toggle.md
  frontend/dashboard/src/components/NavBarThemeButton.tsx
  frontend/dashboard/src/components/__tests__/NavBarThemeButton.test.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: add visual save confirmation and aria-live announcements for currency/category cards
  CHANGELOG.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/SettingsPage.test.tsx
Due: frontend-dashboard-pipeline

fix: adjust NavBar theme toggle icon size for consistency with NotificationBell
  CHANGELOG.md
  frontend/dashboard/src/components/NavBarThemeButton.tsx
Due: frontend-dashboard-pipeline

docs: implement CSV import column mapping with user-defined defaults
  docs/plans/csv-import-column-mapping.md
Due: none

fix: bind columnMapping parameter from form in PreviewAsync to prevent silent null deserialization
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseImportControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseImportController.cs
Due: backend-expenses-pipeline

fix: clear preview state after successful CSV import to prevent leave-confirmation blocker
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
Due: frontend-dashboard-pipeline

fix: update unread notification styling for dark mode compatibility
  CHANGELOG.md
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/styles/index.css
  frontend/dashboard/tailwind.config.ts
Due: frontend-dashboard-pipeline

fix: resolve leave-confirmation modal re-trigger after successful CSV import by using flushSync
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
Due: frontend-dashboard-pipeline

feat: implement locale-aware amount input formatting with thousands separator and input sanitization
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/dashboard/components/MonthHero.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseForm.test.tsx
  frontend/dashboard/src/features/expenses/utils/__tests__/amountFormat.test.ts
  frontend/dashboard/src/features/expenses/utils/amountFormat.ts
Due: frontend-dashboard-pipeline

docs: add comprehensive notifications UX/UI plan for web and mobile
  docs/plans/notifications-ux-improvements-plan.md
Due: none

feat: implement notification system with collapsible toasts and notification management
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/components/__tests__/Toast.test.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/SettingsPage.test.tsx
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/dashboard/src/features/notifications/notificationDisplay.tsx
  frontend/dashboard/src/features/notifications/pages/NotificationsPage.tsx
  frontend/dashboard/src/features/notifications/pages/__tests__/NotificationsPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/router.tsx
  frontend/mobile/src/features/notifications/components/NotificationBell.tsx
  frontend/mobile/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/mobile/src/features/notifications/notificationDisplay.tsx
Due: frontend-dashboard-pipeline

docs: add comprehensive notifications UX/UI plan for web and mobile, including icons, full-page inbox, toast management, and notification preferences
  docs/plans/done/notifications-ux-improvements-plan.md
  docs/plans/ux-ui-improvements.md
Due: none

feat: enhance ExpensesListPage with search functionality and undo feature for deleted expenses
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/mobile-app-ionic-ux-improvements-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/mobile/src/features/auth/services/authApi.service.ts
  frontend/mobile/src/features/dashboard/components/DashboardDateFilter.tsx
  frontend/mobile/src/features/dashboard/components/__tests__/DashboardDateFilter.test.tsx
  frontend/mobile/src/features/dashboard/pages/DashboardPage.tsx
  frontend/mobile/src/features/expenses/pages/ExpensesListPage.tsx
  frontend/mobile/src/features/expenses/pages/QuickAddModal.tsx
  frontend/mobile/src/features/expenses/pages/__tests__/ExpensesListPage.test.tsx
  frontend/mobile/src/features/expenses/pages/__tests__/QuickAddModal.test.tsx
  frontend/mobile/src/features/expenses/utils/__tests__/dateGroupLabel.test.ts
  frontend/mobile/src/features/expenses/utils/dateGroupLabel.ts
  frontend/mobile/src/features/settings/pages/SettingsPage.tsx
  frontend/mobile/src/features/settings/pages/__tests__/SettingsPage.test.tsx
  frontend/mobile/src/features/settings/services/notificationPreferencesApi.service.ts
  frontend/mobile/src/features/settings/types/userConfig.type.ts
  frontend/mobile/src/router.tsx
Due: none
