Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

fix(receipts): resolve upload failures by removing payload signing and adding logging
  .claude/constraints.md
  .claude/settings.json
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseReceiptControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseReceiptController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/S3ReceiptStorageService.cs
Due: backend-expenses-pipeline

feat: enhance accessibility for FormCombobox and Toast components
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/accessibility-gaps-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/components/__tests__/FormCombobox.test.tsx
  frontend/dashboard/src/components/__tests__/Toast.test.tsx
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/ChartDataTable.tsx
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CategoryDonut.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/SameMonthChart.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/SpendChart.test.tsx
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/AddExpenseModal.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/hooks/__tests__/useReturnFocusOnUnmount.test.tsx
  frontend/dashboard/src/hooks/useReturnFocusOnUnmount.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
Due: frontend-dashboard-pipeline

feat: implement performance and loading state enhancements across dashboard components
  CHANGELOG.md
  docs/plans/done/performance-loading-states-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/components/__tests__/FormCombobox.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
Due: frontend-dashboard-pipeline

feat: implement visual design and polish updates
  docs/plans/done/visual-design-and-polish.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/index.html
  frontend/dashboard/public/favicon.svg
  frontend/dashboard/public/manifest.json
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/utils/__tests__/chartTheme.test.ts
  frontend/dashboard/src/features/dashboard/utils/chartTheme.ts
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/EditExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/AddExpenseModal.test.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/EditExpenseModal.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/styles/index.css
  frontend/mobile/package.json
  frontend/mobile/resources/README.md
Due: frontend-dashboard-pipeline

fix: package lock
  frontend/mobile/package-lock.json
Due: none

feat: implement UX copy & microcopy improvements
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/ux-copy-microcopy-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/components/EmptyState.tsx
  frontend/dashboard/src/components/__tests__/EmptyState.test.tsx
  frontend/dashboard/src/constants/apiErrors.constant.ts
  frontend/dashboard/src/features/admin/pages/AdminCategoriesPage.tsx
  frontend/dashboard/src/features/admin/pages/__tests__/AdminCategoriesPage.test.tsx
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/components/RecentExpenses.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/notifications/pages/NotificationsPage.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/services/__tests__/api.service.test.ts
  frontend/dashboard/src/services/__tests__/api.test.ts
  frontend/dashboard/src/services/api.service.ts
Due: frontend-dashboard-pipeline

Refactor code structure for improved readability and maintainability
  CHANGELOG.md
  docs/plans/ux-ui-improvements.md
  frontend/mobile/icons/icon-128.webp
  frontend/mobile/icons/icon-192.webp
  frontend/mobile/icons/icon-256.webp
  frontend/mobile/icons/icon-48.webp
  frontend/mobile/icons/icon-512.webp
  frontend/mobile/icons/icon-72.webp
  frontend/mobile/icons/icon-96.webp
  frontend/mobile/resources/icon.png
  frontend/mobile/resources/splash.png
Due: none

feat: implement accessibility improvements for notification bell and update changelog
  CHANGELOG.md
  docs/plans/done/quick-wins-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/mobile/src/features/notifications/components/NotificationBell.tsx
  frontend/mobile/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/mobile/src/i18n/locales/de/translation.json
  frontend/mobile/src/i18n/locales/en/translation.json
  frontend/mobile/src/i18n/locales/es/translation.json
  frontend/mobile/src/i18n/locales/fr/translation.json
Due: frontend-dashboard-pipeline

feat: Complete visual design deep-dive improvements
  CHANGELOG.md
  docs/plans/done/visual-design-deep-dive-plan.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/components/__tests__/FormCombobox.test.tsx
  frontend/dashboard/src/features/dashboard/components/MonthHero.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/MonthHero.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/SpendChart.test.tsx
  frontend/dashboard/src/features/expenses/components/ExpenseForm.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/ExpenseForm.test.tsx
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: implement design system recommendations and enhancements for mobile and dashboard
  CHANGELOG.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/styles/index.css
  frontend/mobile/index.html
  frontend/mobile/src/features/auth/pages/LoginPage.tsx
  frontend/mobile/src/features/auth/pages/__tests__/LoginPage.test.tsx
  frontend/mobile/src/features/expenses/pages/ExpensesListPage.tsx
  frontend/mobile/src/features/expenses/pages/__tests__/ExpensesListPage.test.tsx
  frontend/mobile/src/theme/variables.css
Due: frontend-dashboard-pipeline

feat: implement date formatting utility and update ExpensesPage for locale-aware date display
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/ux-ui-improvements.md
  frontend/dashboard/src/features/expenses/pages/ExpensesPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/ExpensesPage.test.tsx
  frontend/dashboard/src/features/expenses/utils/__tests__/dateFormat.test.ts
  frontend/dashboard/src/features/expenses/utils/dateFormat.ts
Due: frontend-dashboard-pipeline

feat: implement responsive grid layout for HomeDashboardPage and update widget structure
  CHANGELOG.md
  docs/plans/dashboard-new-charts-plan.md
  docs/plans/dashboard-responsive-grid-plan.md
  frontend/dashboard/src/features/dashboard/components/SameMonthChart.tsx
  frontend/dashboard/src/features/dashboard/components/SpendChart.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
Due: frontend-dashboard-pipeline

feat: add Largest Expenses dashboard widget
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/DashboardControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/DashboardServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/ExpenseFilterDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DashboardController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/ExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IDashboardService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/DashboardService.cs
  docs/plans/dashboard-new-charts-plan.md
  docs/plans/done/dashboard-responsive-grid-plan.md
  frontend/dashboard/src/features/dashboard/components/LargestExpenses.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/LargestExpenses.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/dashboard/services/dashboardApi.service.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: add recurring expenses feature with migration, models, repository, service, and frontend components
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/RecurringExpenseControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/RecurringExpenseRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/RecurringExpenseServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/RecurringExpenseDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/RecurringExpenseController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260806155452_AddRecurringExpenses.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260806155452_AddRecurringExpenses.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/RecurrenceFrequency.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/RecurringExpense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IRecurringExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/RecurringExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IRecurringExpenseService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/RecurringExpenseService.cs
  docs/plans/dashboard-new-charts-plan.md
  frontend/dashboard/src/features/dashboard/components/UpcomingRecurring.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/UpcomingRecurring.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/dashboard/services/dashboardApi.service.ts
  frontend/dashboard/src/features/dashboard/types/dashboard.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

docs: add full implementation plan for recurring expenses management with CRUD operations and auto-generation flow
  docs/plans/recurring-expenses-full-plan.md
Due: none

feat: add frontend UI library evaluation document and utility function for class name merging
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/done/ux-ui-improvements.md
  docs/plans/frontend-ui-library-evaluation.md
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/components/__tests__/FormCombobox.test.tsx
  frontend/dashboard/src/features/auth/components/__tests__/EmailField.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/CategoryDonut.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/MonthHero.test.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/SettingsPage.test.tsx
  frontend/dashboard/src/features/dashboard/services/__tests__/dashboardApi.service.test.ts
  frontend/dashboard/src/features/expenses/components/AddExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/EditExpenseModal.tsx
  frontend/dashboard/src/features/expenses/components/__tests__/AddExpenseModal.test.tsx
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/expenses/pages/__tests__/CsvImportPage.test.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/notifications/__tests__/NotificationContext.test.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
  frontend/dashboard/src/features/tags/components/__tests__/TagInput.test.tsx
  frontend/dashboard/src/lib/utils.ts
  frontend/dashboard/src/services/api.service.ts
Due: frontend-dashboard-pipeline

feat; refactor code structure for improved readability and maintainability
  CHANGELOG.md
  frontend/dashboard/package-lock.json
Due: frontend-dashboard-pipeline

feat: update package-lock.json with new dependencies for esbuild and rollup
  frontend/dashboard/package-lock.json
Due: frontend-dashboard-pipeline

feat: update MinIO client download URL in CI configuration and Dockerfile
  CHANGELOG.md
  infrastructure/configs/gitlab-ci-templates/ci-deploy.yml
  infrastructure/jobs/Dockerfile
Due: none

feat: implement dev server API proxy to resolve auth cookie issues and prevent stale config shadowing
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/.env.example
  frontend/dashboard/.gitignore
  frontend/dashboard/src/components/FormCombobox.tsx
  frontend/dashboard/src/features/expenses/pages/CsvImportPage.tsx
  frontend/dashboard/src/features/tags/components/TagInput.tsx
  frontend/dashboard/tsconfig.node.json
  frontend/dashboard/vite.config.d.ts
  frontend/dashboard/vite.config.js
  frontend/dashboard/vite.config.ts
Due: frontend-dashboard-pipeline

feat: migrate from OWASP Dependency-Check to Trivy for SCA scanning in CI configuration
  CHANGELOG.md
  backend/expenses/.gitlab-ci.yml
  backend/notifications/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
  frontend/dashboard/.gitlab-ci.yml
  frontend/mobile/.gitlab-ci.yml
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

feat: add DashboardDetails and StatCard components with tests
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/mui-dashboard-skeleton-plan.md
  frontend/dashboard/src/components/UserMenu.tsx
  frontend/dashboard/src/components/__tests__/UserMenu.test.tsx
  frontend/dashboard/src/features/dashboard/components/DashboardDetails.tsx
  frontend/dashboard/src/features/dashboard/components/MonthHero.tsx
  frontend/dashboard/src/features/dashboard/components/StatCard.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/DashboardDetails.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/MonthHero.test.tsx
  frontend/dashboard/src/features/dashboard/components/__tests__/StatCard.test.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/__tests__/HomeDashboardPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/AppHeader.tsx
  frontend/dashboard/src/layouts/MarketingHeader.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/RootLayout.tsx
  frontend/dashboard/src/layouts/SideNav.tsx
  frontend/dashboard/src/layouts/__tests__/AppHeader.test.tsx
  frontend/dashboard/src/layouts/__tests__/MarketingHeader.test.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/layouts/__tests__/RootLayout.test.tsx
  frontend/dashboard/src/layouts/__tests__/SideNav.test.tsx
Due: frontend-dashboard-pipeline

feat: address dashboard redesign issues — fix icon sizes, improve accessibility, and unify decimal formatting
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/components/NavBarThemeButton.tsx
  frontend/dashboard/src/components/UserMenu.tsx
  frontend/dashboard/src/features/dashboard/components/CategoryDonut.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/notifications/components/NotificationBell.tsx
  frontend/dashboard/src/features/notifications/components/__tests__/NotificationBell.test.tsx
  frontend/dashboard/src/layouts/RootLayout.tsx
  frontend/dashboard/src/layouts/SideNav.tsx
Due: frontend-dashboard-pipeline
