Repository touir1/ExpenseManager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      when: always
    - when: never

stages:
  - trigger

backend-users-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/users/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/users/**/*
      when: always
    - when: never

backend-expenses-pipeline:
  stage: trigger
  trigger:
    include:
      - local: backend/expenses/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/expenses/**/*
      when: always
    - when: never

frontend-dashboard-pipeline:
  stage: trigger
  trigger:
    include:
      - local: frontend/dashboard/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/dashboard/**/*
      when: always
    - when: never

feat(validation): implement email format validation for login and registration; update validators and tests
  CHANGELOG.md
  backend/expenses/.dockerignore
  backend/expenses/Dockerfile
  backend/users/.dockerignore
  backend/users/Dockerfile
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RegistrationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/LoginRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/RegisterRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/JwtAuthOptions.cs
  backend/users/Touir.ExpensesManager.Users/Services/RegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Validators/LoginRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/Validators/RegisterRequestValidator.cs
  backend/users/Touir.ExpensesManager.Users/appsettings.Development.json
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-users-pipeline, backend-expenses-pipeline

fix(docker): remove NOSONAR comment from COPY command in Dockerfiles for expenses and users
  backend/expenses/Dockerfile
  backend/users/Dockerfile
Due: backend-users-pipeline, backend-expenses-pipeline

feat(docs): add comprehensive application description and core concepts for ExpenseManager
  docs/plans/application-description.md
Due: none

feat(docs): add implementation plan for ExpenseManager outlining current state, phases, and tasks
  docs/plans/implementation-plan.md
Due: none

refactor: migrate from EO to DTO pattern for user, role, and application entities; update related services and tests
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/AuthenticationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/RegistrationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RoleServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/DTO/ApplicationDto.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/DTO/RoleDto.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/DTO/UserDto.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Responses/LoginResponse.cs
  backend/users/Touir.ExpensesManager.Users/Services/ApplicationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/AuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IApplicationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IAuthenticationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IRoleService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RoleService.cs
Due: backend-users-pipeline

feat(expenses): enhance Expenses service with structural parity to Users service; update error handling, validation, and health checks
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Responses/ErrorResponse.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Expense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/RabbitMQService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Touir.ExpensesManager.Expenses.csproj
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-expenses-pipeline

feat: Enhance expense management models and services
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/ExpensesDbContextSchemaTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/LookupCacheServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260505144220_SchemaFoundation.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260505144220_SchemaFoundation.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260505145359_LongIdsForExpenseAndAudit.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260505145359_LongIdsForExpenseAndAudit.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Category.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/CurrencyDailyRate.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/CurrencyPairDefault.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/CurrencyRateConflict.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Expense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/ExpenseAuditLog.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/ExpenseAuditSnapshot.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/ExpenseFamilyAttribution.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/ExpenseTag.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Family.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/FamilyMembership.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/AuditOperation.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/ConflictResolution.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/ConflictStatus.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/FamilyRole.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/ILookupEntity.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/ModifiedSource.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/OperationSource.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/RateSource.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Lookups/SnapshotType.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Tag.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ILookupCacheService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/LookupCacheService.cs
  docs/plans/implementation-plan.md
  infrastructure/configs/gitlab-ci-templates/ci-security.yml
Due: backend-expenses-pipeline

fix(migrations): prevent migration errors on SQLite by skipping column alteration for Id fields
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260505145359_LongIdsForExpenseAndAudit.cs
Due: backend-expenses-pipeline

fix(sonarqube): update coverage exclusions to include DTOs in Users and Expenses analysis
  backend/expenses/SonarQube.Analysis.xml
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/ExpensesDbContextSchemaTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/LookupCacheServiceTests.cs
  backend/users/SonarQube.Analysis.xml
Due: backend-users-pipeline, backend-expenses-pipeline

fix(ci): add BASE_DIR_PATH variable to GitLab CI configuration for expenses and users modules
  backend/expenses/.gitlab-ci.yml
  backend/users/.gitlab-ci.yml
Due: backend-users-pipeline, backend-expenses-pipeline

Add controllers, services, and repositories for categories and currencies
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/CategoryControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/CurrencyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CategoryRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CategoryServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CurrencyServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CategoryController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CurrencyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CategoryDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/CurrencyDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/SubcategoryDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CategoryRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICategoryRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/ICurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CurrencyRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CategoryService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICategoryService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/ICurrencyService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CurrencyService.cs
  docs/issues/ongoing/fixes-and-suggestions.md
  docs/plans/implementation-plan.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/features/expenses/ExpensesDataContext.tsx
  frontend/dashboard/src/features/expenses/__tests__/ExpensesDataContext.test.tsx
  frontend/dashboard/src/features/expenses/services/__tests__/categoriesApi.service.test.ts
  frontend/dashboard/src/features/expenses/services/__tests__/currenciesApi.service.test.ts
  frontend/dashboard/src/features/expenses/services/categoriesApi.service.ts
  frontend/dashboard/src/features/expenses/services/currenciesApi.service.ts
  frontend/dashboard/src/features/expenses/types/expenses.type.ts
Due: backend-expenses-pipeline, frontend-dashboard-pipeline

feat: Implement authentication gating in ExpensesDataProvider to prevent unauthorized data fetches and avoid infinite reload loop
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/features/expenses/ExpensesDataContext.tsx
  frontend/dashboard/src/features/expenses/__tests__/ExpensesDataContext.test.tsx
Due: frontend-dashboard-pipeline

Add migration to seed initial categories and subcategories for expenses management
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/ExpensesDbContextSchemaTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CategoryRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CurrencyRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506203552_SeedCurrencies.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506203552_SeedCurrencies.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506204543_SeedCategories.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506204543_SeedCategories.cs
Due: backend-expenses-pipeline

feat: Add Inbox and Outbox event handling
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Messaging/Consumers/UserEventConsumer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Messaging/Messages/UserEventMessage.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506224942_AddInboxEvents.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260506224942_AddInboxEvents.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/InboxEvent.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IInboxRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/InboxRepository.cs
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RegistrationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/MessagingController.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/RabbitMQOptions.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
  backend/users/Touir.ExpensesManager.Users/Messaging/Messages/UserEventMessage.cs
  backend/users/Touir.ExpensesManager.Users/Messaging/Publishers/IUserEventPublisher.cs
  backend/users/Touir.ExpensesManager.Users/Messaging/Publishers/OutboxPublisherService.cs
  backend/users/Touir.ExpensesManager.Users/Messaging/Publishers/UserEventPublisher.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260506224929_AddOutboxEvents.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260506224929_AddOutboxEvents.cs
  backend/users/Touir.ExpensesManager.Users/Models/OutboxEvent.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IOutboxRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IUserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/OutboxRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IRabbitMQService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RabbitMQService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
  infrastructure/.env.example
  infrastructure/docker-compose-apps.yml
Due: backend-users-pipeline, backend-expenses-pipeline

feat: Enhance outbox and inbox event handling with new tests and configuration updates
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/.gitlab-ci.yml
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/InboxRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Messaging/Consumers/UserEventConsumer.cs
  backend/users/.gitlab-ci.yml
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/MessagingControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/OutboxRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/UserRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/TestHelpers/TestDbContextEnsureCreated.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
Due: backend-users-pipeline, backend-expenses-pipeline

fix: Update Dockerfile to use alpine image for final runtime
  backend/expenses/Dockerfile
  backend/users/Dockerfile
Due: backend-users-pipeline, backend-expenses-pipeline

chore: Update changelog for Dockerfile runtime stage change to alpine image
  CHANGELOG.md
Due: none

feat: Enhance RabbitMQ configuration and resilience across services; add Nexus proxy integration plan
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/Options/RabbitMQOptions.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Messaging/Consumers/UserEventConsumer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/RabbitMQService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/appsettings.json
  backend/users/Touir.ExpensesManager.Users/Infrastructure/Options/RabbitMQOptions.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Services/RabbitMQService.cs
  docs/plans/nexus-proxy-integration.md
Due: backend-users-pipeline, backend-expenses-pipeline

feat: Update RabbitMQ configuration in appsettings and environment variables
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses/appsettings.Development.json
  backend/expenses/Touir.ExpensesManager.Expenses/appsettings.json
  backend/users/Touir.ExpensesManager.Users/appsettings.Development.json
  infrastructure/.env.example
Due: backend-users-pipeline, backend-expenses-pipeline

feat: Integrate Sonatype Nexus Repository Manager for caching and proxying Docker images and npm packages
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Dockerfile
  backend/users/Dockerfile
  docs/plans/nexus-proxy-integration.md
  infrastructure/.env.example
  infrastructure/configs/gitlab-ci-templates/ci-build.yml
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
  infrastructure/configs/gitlab-ci-templates/ci-init.yml
  infrastructure/configs/gitlab-runner/config.toml
  infrastructure/configs/nexus/Dockerfile
  infrastructure/configs/nexus/docker-entrypoint.sh
  infrastructure/configs/nexus/provision.sh
  infrastructure/configs/nexus/repos.json
  infrastructure/docker-compose-tools.yml
Due: backend-users-pipeline, backend-expenses-pipeline

feat: Enhance Nexus repository configuration with forceBasicAuth option for proxies and groups
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
  infrastructure/configs/nexus/provision.sh
  infrastructure/configs/nexus/repos.json
Due: none

feat: Disable Docker BuildKit in CI configuration
  infrastructure/configs/gitlab-ci-templates/ci-docker.yml
Due: none

feat: Add TRIVY_DB_REPOSITORY variable for Trivy database configuration
  infrastructure/configs/gitlab-ci-templates/ci-docker-security.yml
Due: none

feat: Implement soft delete functionality for users
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/UserRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RegistrationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260509140937_AddUserSoftDelete.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260509140937_AddUserSoftDelete.cs
  backend/users/Touir.ExpensesManager.Users/Models/User.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  docs/plans/done/nexus-proxy-integration.md
Due: backend-users-pipeline

feat: implement soft delete for Categories and Families
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Infrastructure/ExpensesDbContextSchemaTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/CategoryRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/CategoryServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260509155613_ReplaceCategoryFamilyIsArchivedWithSoftDelete.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260509155613_ReplaceCategoryFamilyIsArchivedWithSoftDelete.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Category.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Family.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/CategoryRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/CategoryService.cs
  docs/plans/implementation-plan.md
Due: backend-expenses-pipeline

feat: add comprehensive tests for UserEventConsumer and UserEventPublisher, enhance OutboxPublisherService tests
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Messaging/UserEventConsumerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Messaging/OutboxPublisherServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Messaging/UserEventPublisherTests.cs
Due: backend-users-pipeline, backend-expenses-pipeline

feat: Implement soft delete functionality for expenses
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/ExpenseRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseAuditServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Services/ExpenseServiceTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/ExpenseDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/DTO/ExpenseFilterDto.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/CreateExpenseRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/UpdateExpenseRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Responses/ExpensePagedResponse.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/ExpensesDbContext.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Infrastructure/JwtCookieReader.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260509163919_AddExpenseSoftDelete.Designer.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Migrations/20260509163919_AddExpenseSoftDelete.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Models/Expense.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/Contracts/IExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Repositories/ExpenseRepository.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IExpenseAuditService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/Contracts/IExpenseService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseAuditService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Services/ExpenseService.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/CreateExpenseRequestValidator.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/UpdateExpenseRequestValidator.cs
  docs/plans/implementation-plan.md
Due: backend-expenses-pipeline

feat: Refactor expense request handling and validation
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Repositories/ExpenseRepositoryTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Validators/ExpenseRequestValidatorTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/CreateExpenseRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/IExpenseRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/Requests/UpdateExpenseRequest.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/CreateExpenseRequestValidator.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/ExpenseRequestValidatorBase.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Validators/UpdateExpenseRequestValidator.cs
  docs/issues/fixed/fixes-and-suggestions-applied.md
  docs/issues/ongoing/fixes-and-suggestions.md
Due: backend-expenses-pipeline

feat: add email validation hash expiry and resend verification functionality
  .claude/constraints.md
  CHANGELOG.md
  FILE-TREE.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CategoryController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CurrencyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Program.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Touir.ExpensesManager.Expenses.csproj
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users.Tests/Controllers/RegistrationControllerTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Repositories/UserRepositoryTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Services/RegistrationServiceTests.cs
  backend/users/Touir.ExpensesManager.Users.Tests/Validators/ResendVerificationRequestValidatorTests.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/MessagingController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/PasswordController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/Requests/ResendVerificationRequest.cs
  backend/users/Touir.ExpensesManager.Users/Infrastructure/UsersAppDbContext.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260510122007_AddEmailValidationHashExpiry.Designer.cs
  backend/users/Touir.ExpensesManager.Users/Migrations/20260510122007_AddEmailValidationHashExpiry.cs
  backend/users/Touir.ExpensesManager.Users/Models/User.cs
  backend/users/Touir.ExpensesManager.Users/Program.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/Contracts/IUserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Repositories/UserRepository.cs
  backend/users/Touir.ExpensesManager.Users/Services/Contracts/IRegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/RegistrationService.cs
  backend/users/Touir.ExpensesManager.Users/Services/ResendResult.cs
  backend/users/Touir.ExpensesManager.Users/Touir.ExpensesManager.Users.csproj
  backend/users/Touir.ExpensesManager.Users/Validators/ResendVerificationRequestValidator.cs
  docs/issues/ongoing/fixes-and-suggestions.md
  frontend/dashboard/src/features/auth/services/authApi.service.ts
  frontend/dashboard/src/features/public/pages/VerifyErrorPage.tsx
  frontend/dashboard/src/features/public/pages/__tests__/VerifyErrorPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
Due: backend-users-pipeline, backend-expenses-pipeline, frontend-dashboard-pipeline

feat: enhance API documentation with XML comments and Swagger integration for users and expenses services
  CHANGELOG.md
  backend/expenses/README.md
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CategoryController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/CurrencyController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseController.cs
  backend/users/README.md
  backend/users/Touir.ExpensesManager.Users/Controllers/AuthenticationController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/PasswordController.cs
  backend/users/Touir.ExpensesManager.Users/Controllers/RegistrationController.cs
Due: backend-users-pipeline, backend-expenses-pipeline

Add family management documentation and update wiki index
  docs/wiki/api-reference.md
  docs/wiki/architecture.md
  docs/wiki/backend-expenses-service.md
  docs/wiki/backend-users-service.md
  docs/wiki/data-models.md
  docs/wiki/family-system.md
  docs/wiki/index.md
  docs/wiki/infrastructure.md
  docs/wiki/messaging.md
  docs/wiki/testing.md
  docs/wiki/use-cases.md
Due: none

feat: add family management features
  CHANGELOG.md
  FILE-TREE.md
  docs/plans/implementation-plan.md
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/features/auth/__tests__/authApi.service.test.ts
  frontend/dashboard/src/features/families/FamilyContext.tsx
  frontend/dashboard/src/features/families/__tests__/FamilyContext.test.tsx
  frontend/dashboard/src/features/families/__tests__/family.schemas.test.ts
  frontend/dashboard/src/features/families/__tests__/familyApi.service.test.ts
  frontend/dashboard/src/features/families/components/FamilySelector.tsx
  frontend/dashboard/src/features/families/components/__tests__/FamilySelector.test.tsx
  frontend/dashboard/src/features/families/family.schemas.ts
  frontend/dashboard/src/features/families/pages/FamiliesPage.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/families/services/familyApi.service.ts
  frontend/dashboard/src/features/families/types/family.type.ts
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/providers/AppProviders.tsx
  frontend/dashboard/src/providers/__tests__/AppProviders.test.tsx
  frontend/dashboard/src/router.tsx
Due: frontend-dashboard-pipeline

fix: resolve 500 error on 201 response in Family and Expense controllers by using CreatedAtRoute
  .claude/constraints.md
  CHANGELOG.md
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/ExpenseControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses.Tests/Controllers/FamilyControllerTests.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/ExpenseController.cs
  backend/expenses/Touir.ExpensesManager.Expenses/Controllers/FamilyController.cs
Due: backend-expenses-pipeline

docs: adding design pattern for frontend
  docs/design/ExpensesManager Redesign (standalone).html
  docs/design/ExpensesManager Redesign (standalone-src).html
  docs/design/ExpensesManager Redesign.html
  docs/design/app-flow.jsx
  docs/design/auth.jsx
  docs/design/dashboard-a.jsx
  docs/design/dashboard-b.jsx
  docs/design/dashboard-c.jsx
  docs/design/design-canvas.jsx
  docs/design/ios-frame.jsx
  docs/design/marketing.jsx
  docs/design/mobile.jsx
  docs/design/system.jsx
  docs/design/tokens.jsx
Due: none

feat: enhance registration page with brand panel and improved styling
  CHANGELOG.md
  FILE-TREE.md
  frontend/dashboard/index.html
  frontend/dashboard/src/App.tsx
  frontend/dashboard/src/components/BackLink.tsx
  frontend/dashboard/src/components/LanguageSwitcher.tsx
  frontend/dashboard/src/components/PasswordStrength.tsx
  frontend/dashboard/src/components/Toast.tsx
  frontend/dashboard/src/components/__tests__/LanguageSwitcher.test.tsx
  frontend/dashboard/src/components/__tests__/PasswordStrength.test.tsx
  frontend/dashboard/src/components/__tests__/Toast.test.tsx
  frontend/dashboard/src/features/auth/components/AuthBrandPanel.tsx
  frontend/dashboard/src/features/auth/components/AuthCard.tsx
  frontend/dashboard/src/features/auth/components/AuthPageHeader.tsx
  frontend/dashboard/src/features/auth/pages/LoginPage.tsx
  frontend/dashboard/src/features/auth/pages/RegisterPage.tsx
  frontend/dashboard/src/features/dashboard/pages/HomeDashboardPage.tsx
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
  frontend/dashboard/src/styles/index.css
  frontend/dashboard/tailwind.config.ts
Due: frontend-dashboard-pipeline

feat: redesign marketing landing page and navbar, add language switcher to settings
  CHANGELOG.md
  frontend/dashboard/src/features/dashboard/pages/SettingsPage.tsx
  frontend/dashboard/src/features/public/pages/HomePublicPage.tsx
  frontend/dashboard/src/features/public/pages/__tests__/HomePublicPage.test.tsx
  frontend/dashboard/src/i18n/locales/de/translation.json
  frontend/dashboard/src/i18n/locales/en/translation.json
  frontend/dashboard/src/i18n/locales/es/translation.json
  frontend/dashboard/src/i18n/locales/fr/translation.json
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: update changelog for version 0.96.1, enhance logout behavior, and improve test coverage for FamiliesPage
  CHANGELOG.md
  frontend/dashboard/src/features/auth/AuthContext.tsx
  frontend/dashboard/src/features/families/pages/__tests__/FamiliesPage.test.tsx
  frontend/dashboard/src/features/public/pages/VerifyErrorPage.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline

feat: update auth handling to prevent redirect on 401 after logout and improve test coverage
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/services/__tests__/api.service.test.ts
  frontend/dashboard/src/services/__tests__/api.test.ts
  frontend/dashboard/src/services/api.service.ts
Due: frontend-dashboard-pipeline

feat: implement deferred navigation on logout in NavBar and update tests for accurate behavior
  .claude/constraints.md
  CHANGELOG.md
  frontend/dashboard/src/layouts/NavBar.tsx
  frontend/dashboard/src/layouts/__tests__/NavBar.test.tsx
Due: frontend-dashboard-pipeline
